.emodal, .emodal:before, .emodal:after {
	-moz-box-sizing: border-box;
}
.emodal-overlay {
	position:fixed;
	display:none;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:998!important;
}

.emodal {
	top:100px;
	visibility: hidden;
	position: absolute;
	display:none;
	z-index: 999!important;
}

.emodal > .emodal-close {
	text-decoration:none;
	text-align:center;
    line-height: 1;
	position: absolute;
	font-weight: bold;
	cursor: pointer;
	min-width: 1em;
}

.emodal.responsive {
	left: 50%;
	margin-left: -40%;
	width: 80%;
	height: auto;
	overflow:visible;
}

@media only screen and (min-width: 768px){
.emodal.nano {
	margin-left: -10%;
	width: 20%;
}
.emodal.tiny {
	margin-left: -15%;
	width: 30%;
}
.emodal.small {
	margin-left: -20%;
	width: 40%;
}
.emodal.medium {
	margin-left: -30%;
	width: 60%;
}
.emodal.large {
	margin-left: -35%;
	width: 70%;
}
.emodal.xlarge {
	margin-left: -47.5%;
	width: 95%;
}
}


.emodal.fixed {
	position:fixed;
}
.emodal.custom-position {
	left: auto;
	top: auto;
	margin-left: inherit;
}

.emodal .emodal-content :last-child {
	margin-bottom:0;
}