---
title: CSS stylesheet
---


/* General settings */
/*fonts*/
@font-face {
    font-family:'amplesoft-bold';
    src:url('/fonts/amplesoft-bold.eot');
    src:url('/fonts/amplesoft-bold.eot?#iefix') format('embedded-opentype'),url('/fonts/amplesoft-bold.woff2') format('woff2'),url('/fonts/amplesoft-bold.woff') format('woff'),url('/fonts/amplesoft-bold.ttf') format('truetype'),url('/fonts/amplesoft-bold.svg#amplesoft-boldbold') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'amplesoft-medium';
    src:url('/fonts/amplesoft-medium.eot');
    src:url('/fonts/amplesoft-medium.eot?#iefix') format('embedded-opentype'),url('/fonts/amplesoft-medium.woff2') format('woff2'),url('/fonts/amplesoft-medium.woff') format('woff'),url('/fonts/amplesoft-medium.ttf') format('truetype'),url('/fonts/amplesoft-medium.svg#amplesoft-mediummedium') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'amplesoft-light';
    src:url('/fonts/amplesoft-light.eot');
    src:url('/fonts/amplesoft-light.eot?#iefix') format('embedded-opentype'),url('/fonts/amplesoft-light.woff2') format('woff2'),url('/fonts/amplesoft-light.woff') format('woff'),url('/fonts/amplesoft-light.ttf') format('truetype'),url('/fonts/amplesoft-light.svg#amplesoft-lightlight') format('svg');
    font-weight:normal;
    font-style: normal;
}
@font-face {
    font-family:'amplesoft-regular';
    src:url('/fonts/amplesoft-regular.eot');
    src:url('/fonts/amplesoft-regular.eot?#iefix') format('embedded-opentype'),url('/fonts/amplesoft-regular.woff2') format('woff2'),url('/fonts/amplesoft-regular.woff') format('woff'),url('/fonts/amplesoft-regular.ttf') format('truetype'),url('/fonts/amplesoft-regular.svg#amplesoft-regularregular') format('svg');
    font-weight:normal;
    font-style: normal;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

@font-face {
    font-family: 'FontAwesome';
    src: url('/fonts/fontawesome-webfont.eot?v=4.0.3');
    src: url('/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('/fonts/fontawesome-webfont.ttf?v=4.0.3')  format('truetype'), url('/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
    font-weight:normal;
    font-style: normal;
}

/*fonts end*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin:0;
    padding:0;
    border:0;
    font:inherit;
    font-size:100%;
    vertical-align:baseline;
}
html {
    line-height:1;
}
ol,ul {
    list-style:none;
}
table {
    border-collapse:collapse;
    border-spacing:0;
    margin: 10px 0;
}
caption,th,td {
    text-align:left;
    font-weight:normal;
    /*vertical-align:middle;*/
}
q,blockquote {
    quotes:none;
}
q:before,q:after,blockquote:before,blockquote:after {
    content:"";
    content:none;
}
a img {
    border:none;
}
elements-of-type(html5-block) {
    display:block;
}
.clearfix:after,.container:after,.container-fluid:after,.wrapper:after,section:after,.tabs .tab-links:after,.tabs-centered .tab-links .tab:after,.global-search:after,#login .row:after,#login .form-login:after,.mobile-main-nav .form-search:after,footer:after,footer #footer-right-nav .social:after,.card:after,.country .title-container:after,#promo-form .col-left .card:after,#pricing-table .card .card-content li:after,#pricing-table .section-footer:after,#how-it-works-enhanced .card:after,#payment-methods .logos-block-grid:after {
    content:"";
    display:table;
    clear: both;
}

/* Column system */
.col {
    -webkit-transition:all 0.3s;
    -webkit-transition-delay:0s;
    transition:all 0.3s;
    float:left;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    padding:0 15px;
}
.col.s1 {
    width:8.33333%;
    margin-left:0;
}
.col.s2 {
    width:16.66667%;
    margin-left:0;
}
.col.s3 {
    width:25%;
    margin-left:0;
}
.col.s4 {
    width:33.33333%;
    margin-left:0;
}
.col.s5 {
    width:41.66667%;
    margin-left:0;
}
.col.s6 {
    width:50%;
    margin-left:0;
}
.col.s7 {
    width:58.33333%;
    margin-left:0;
}
.col.s8 {
    width:66.66667%;
    margin-left:0;
}
.col.s9 {
    width:75%;
    margin-left:0;
}
.col.s10 {
    width:83.33333%;
    margin-left:0;
}
.col.s11 {
    width:91.66667%;
    margin-left:0;
}
.col.s12 {
    width:100%;
    margin-left:0;
}
.col.offset-s1 {
    margin-left:8.33333%;
}
.col.offset-s2 {
    margin-left:16.66667%;
}
.col.offset-s3 {
    margin-left:25%;
}
.col.offset-s4 {
    margin-left:33.33333%;
}
.col.offset-s5 {
    margin-left:41.66667%;
}
.col.offset-s6 {
    margin-left:50%;
}
.col.offset-s7 {
    margin-left:58.33333%;
}
.col.offset-s8 {
    margin-left:66.66667%;
}
.col.offset-s9 {
    margin-left:75%;
}
.col.offset-s10 {
    margin-left:83.33333%;
}
.col.offset-s11 {
    margin-left:91.66667%;
}
.col.offset-s12 {
    margin-left:100%;
}
@media (min-width:768px) and (max-width:1024px) {
    .col.m1 {
        width:8.33333%;
        margin-left:0;
    }
    .col.m2 {
        width:16.66667%;
        margin-left:0;
    }
    .col.m3 {
        width:25%;
        margin-left:0;
    }
    .col.m4 {
        width:33.33333%;
        margin-left:0;
    }
    .col.m5 {
        width:41.66667%;
        margin-left:0;
    }
    .col.m6 {
        width:50%;
        margin-left:0;
    }
    .col.m7 {
        width:58.33333%;
        margin-left:0;
    }
    .col.m8 {
        width:66.66667%;
        margin-left:0;
    }
    .col.m9 {
        width:75%;
        margin-left:0;
    }
    .col.m10 {
        width:83.33333%;
        margin-left:0;
    }
    .col.m11 {
        width:91.66667%;
        margin-left:0;
    }
    .col.m12 {
        width:100%;
        margin-left:0;
    }
    .col.offset-m1 {
        margin-left:8.33333%;
    }
    .col.offset-m2 {
        margin-left:16.66667%;
    }
    .col.offset-m3 {
        margin-left:25%;
    }
    .col.offset-m4 {
        margin-left:33.33333%;
    }
    .col.offset-m5 {
        margin-left:41.66667%;
    }
    .col.offset-m6 {
        margin-left:50%;
    }
    .col.offset-m7 {
        margin-left:58.33333%;
    }
    .col.offset-m8 {
        margin-left:66.66667%;
    }
    .col.offset-m9 {
        margin-left:75%;
    }
    .col.offset-m10 {
        margin-left:83.33333%;
    }
    .col.offset-m11 {
        margin-left:91.66667%;
    }
    .col.offset-m12 {
        margin-left:100%;
    }
}
@media (min-width:1025px) {
    .col.l1 {
        width:8.33333%;
        margin-left:0;
    }
    .col.l2 {
        width:16.66667%;
        margin-left:0;
    }
    .col.l3 {
        width:25%;
        margin-left:0;
    }
    .col.l4 {
        width:33.33333%;
        margin-left:0;
    }
    .col.l5 {
        width:41.66667%;
        margin-left:0;
    }
    .col.l6 {
        width:50%;
        margin-left:0;
    }
    .col.l7 {
        width:58.33333%;
        margin-left:0;
    }
    .col.l8 {
        width:66.66667%;
        margin-left:0;
    }
    .col.l9 {
        width:75%;
        margin-left:0;
    }
    .col.l10 {
        width:83.33333%;
        margin-left:0;
    }
    .col.l11 {
        width:91.66667%;
        margin-left:0;
    }
    .col.l12 {
        width:100%;
        margin-left:0;
    }
    .col.offset-l1 {
        margin-left:8.33333%;
    }
    .col.offset-l2 {
        margin-left:16.66667%;
    }
    .col.offset-l3 {
        margin-left:25%;
    }
    .col.offset-l4 {
        margin-left:33.33333%;
    }
    .col.offset-l5 {
        margin-left:41.66667%;
    }
    .col.offset-l6 {
        margin-left:50%;
    }
    .col.offset-l7 {
        margin-left:58.33333%;
    }
    .col.offset-l8 {
        margin-left:66.66667%;
    }
    .col.offset-l9 {
        margin-left:75%;
    }
    .col.offset-l10 {
        margin-left:83.33333%;
    }
    .col.offset-l11 {
        margin-left:91.66667%;
    }
    .col.offset-l12 {
        margin-left: 100%;
    }
}

/* Containers width */

.clearfix:after,.container:after,.container-fluid:after,.wrapper:after,section:after,.tabs .tab-links:after,.tabs-centered .tab-links .tab:after,.global-search:after,#login .row:after,#login .form-login:after,.mobile-main-nav .form-search:after,footer:after,footer #footer-right-nav .social:after,.card:after,.country .title-container:after,#promo-form .col-left .card:after,#pricing-table .card .card-content li:after,#pricing-table .section-footer:after,#how-it-works-enhanced .card:after,#payment-methods .logos-block-grid:after {
    content:"";
    display:table;
    clear:both;
}
.clearfix{
    margin: 0;
    padding: 0;
}
main {
    display:block;
}
.container {
    max-width:1280px;
    margin: auto;
}
.container-rounded {
    padding:42px 45px;
    border:1px solid #edf2f2;
    -o-border-radius:90px;
    border-radius:90px;
}
@media (min-width:0) and (max-width:767px) {
    .container-rounded {
        border:none;
        padding:0;
        text-align:left;
    }
}
.container-rounded-light {
    border-color:#eeeded;
}
.container-indented {
    padding-left:8.33333%;
    padding-right:8.33333%;
}
@media (min-width:768px) and (max-width:1024px) {
    .container-indented {
        padding:0;
    }
}
@media (min-width:0) and (max-width:767px) {
    .container-indented {
        padding:0;
    }
}
.container-centered {
    text-align:center;
}
.container-centered .lg-third,.container-centered .lg-quarter {
    vertical-align:top;
    display:inline-block;
    float:none;
}
.container-fluid {
    margin:0 !important;
}
@media (min-width:0) and (max-width:767px) {
    .container-fluid-small {
        margin:0 !important;
    }
}
@media (min-width:768px) and (max-width:1024px) {
    .container-fluid-medium {
        margin:0 !important;
    }
}
.payu-section {
  margin: 30px 0px;
}
section.section-module {
    padding:120px 0 130px 0;
}
@media (min-width:0) and (max-width:767px) {
    section.section-module {
        padding:60px 0;
    }
}
section .section-header {
    margin:0 6%;
    text-align:center;
    margin-bottom:40px;
}
@media (min-width:0) and (max-width:767px) {
    section .section-header {
        margin-bottom:1.7em;
    }
}
section .section-footer {
    text-align:center;
}
section .overview {
    color:#797d7e;
    text-align:center;
    font-size:20px;
    font-size:17px;
    line-height:1.5;
    font-family:'Open Sans',sans-serif;
    font-weight:300;
}
@media (min-width:768px) and (max-width:1024px) {
    section .overview {
        font-size:18px;
    }
}
@media (min-width:1025px) {
    section .overview {
        font-size:20px;
    }
}
section .overview p {
    margin:0;
}
@media (min-width:1025px) {
    .lg-full {
        width:100%;
        padding:0 15px;
    }
    .lg-half {
        float:left;
        width:50%;
        padding:0 15px;
    }
    .lg-third {
        float:left;
        width:33.33333%;
        padding:0 15px;
    }
    .lg-quarter {
        float:left;
        width:25%;
        padding:0 15px;
    }
}
@media (min-width:768px) and (max-width:1024px) {
    .md-full {
        width:100%;
        padding:0 15px;
    }
    .md-half {
        float:left;
        width:50%;
        padding:0 15px;
    }
    .md-third {
        float:left;
        width:33.33333%;
        padding:0 15px;
    }
    .md-quarter {
        float:left;
        width:25%;
        padding:0 15px;
    }
}
@media (min-width:0) and (max-width:767px) {
    .sm-full {
        width:100%;
        padding:0 15px;
    }
    .sm-half {
        float:left;
        width:50%;
        padding:0 15px;
    }
    .sm-third {
        float:left;
        width:33.33333%;
        padding:0 15px;
    }
    [class*='lg-'] {
        margin-bottom:30px;
    }
    [class*='lg-']:last-child {
        margin-bottom:0;
    }
}
.hide,.target {
    display:none !important;
}
.active {
    display:inline-block !important;
}
.sticky {
    position:fixed !important;
    top:0;
    left:0;
}
.content-centered {
    text-align:center !important;
}

.zpt {
    padding-top:0 !important;
}
.zpb {
    padding-bottom:0 !important;
}
.zmt {
    margin-top:0 !important;
}
.zmb {
    padding-bottom:0 !important;
}
@media (min-width:0) and (max-width:767px) {
    .hide-small {
        display:none !important;
    }
}
@media (min-width:768px) and (max-width:1024px) {
    .hide-medium {
        display:none !important;
    }
}
@media (min-width:1025px) {
    .hide-large {
        display:none !important;
    }
}
@media (min-width:1025px) {
    .margin-large-bottom {
        margin-bottom:80px !important;
    }
}
@media (min-width:0) and (max-width:767px) {
    .margin-large-bottom {
        margin-bottom:0;
    }
}
@media (min-width:1025px) {
    .lg-text-left {
        text-align:left;
    }
    .lg-text-right {
        text-align:right;
    }
    .lg-text-center {
        text-align:center;
    }
}
@media (min-width:768px) and (max-width:1024px) {
    .md-text-left {
        text-align:left;
    }
    .md-text-right {
        text-align:right;
    }
    .md-text-center {
        text-align:center;
    }
}
@media (min-width:0) and (max-width:767px) {
    .sm-text-left {
        text-align:left;
    }
    .sm-text-right {
        text-align:right;
    }
    .sm-text-center {
        text-align:center;
    }
}
@media (min-width:1470.54545px) {
    .container {
        margin:0 auto;
    }
}
@media (min-width:1025px) {
}
@media (min-width:0) and (max-width:767px) {
    .container {
        margin:0 3%;
    }
}
* {
    background-repeat:no-repeat;
    position:relative;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-font-smoothing:antialiased;
}
html {
    height:100%;
}
html.stop-scrolling {
    height:100%;
    overflow:hidden;
    width:100%;
    position:fixed;
}
html.stop-scrolling main {
    margin:0;
}
body {
    font-family:Arial,sans-serif;
    font-weight:300;
    background:#fff;
    color:#8a898a;
    margin:0;
    padding:0;
    text-rendering:optimizeLegibility;
    -webkit-font-kerning:normal;
    -moz-font-kerning:normal;
    font-kerning:normal;
    font-size:14px;
    line-height:1.5;
}
@media (min-width:1025px) {
    body {
        font-size:16px;
    }
}
#logo {
    display:block;
    z-index:300;
    /*background:url('../images/logo-developers.png') 0 0 no-repeat;
background-size:contain;*/
    -webkit-transition:height 0.3s;
    -webkit-transition-delay:0s;
    transition:height 0.3s;
}
@media (max-width:1000px) {
    #logo {
        left:50%;
        -webkit-transform:translateX(-50%);
        -ms-transform:translateX(-50%);
        transform:translateX(-50%);
    }
}
@media (min-width:0) and (max-width:767px) {
    #logo {
        width:70px;
        top:24px;
    }
}
main {
    margin-top:100px;
}
@media (min-width:0) and (max-width:767px) {
    main {
        margin-top:88px;
    }
}
@media (min-width:768px) and (max-width:1024px) {
    main {
        margin-top:88px;
    }
}
a {
    color:#A6C307;
    text-decoration:none;
    font-family:'Open Sans',sans-serif;
    font-weight:700;
    outline:none;
    border:none;
    -webkit-transition:color 0.2s;
    -webkit-transition-delay:0s;
    transition:color 0.2s;
}
a:hover {
    color:#438F29;
}
h1,h2,h3,h4,h5,h6 {
    color:#262626;
    letter-spacing:-0.02em;
}
h1 i,h2 i,h3 i,h4 i,h5 i,h6 i {
    font-size:70px;
    color:#A6C307;
    position:absolute;
    bottom:-6px;
    padding-left:5px;
}
@media (min-width:0) and (max-width:767px) {
    h1 i,h2 i,h3 i,h4 i,h5 i,h6 i {
        font-size:35px;
        bottom:0;
        padding-left:4px;
    }
}
h1,h2 {
    margin-bottom:0.3em;
}
h3,h4,h5,h6 {
    margin-bottom:0.9em;
}
h1 {
    font-size:33px;
    line-height:1.1;
    font-family:'amplesoft-medium',sans-serif;
}
@media (min-width:768px) and (max-width:1024px) {
    h1 {
        font-size:54px;
    }
}
@media (min-width:1025px) {
    h1 {
        font-size:60px;
    }
}
h2 {
    font-size:30px;
    line-height:1.1;
    font-family:'amplesoft-medium',sans-serif;
}
@media (min-width:768px) and (max-width:1024px) {
    h2 {
        font-size:36px;
    }
}
@media (min-width:1025px) {
    h2 {
        font-size:48px;
    }
}
h3 {
    font-size:20px;
    line-height:1.1;
    font-family:'Open Sans',sans-serif;
    font-weight:700;
}
@media (min-width:768px) and (max-width:1024px) {
    h3 {
        font-size:28px;
    }
}
@media (min-width:1025px) {
    h3 {
        font-size:26px;
    }
}
h4 {
    font-size:17px;
    line-height:1.1;
    font-family:'Open Sans',sans-serif;
    font-weight:700;
}
@media (min-width:768px) and (max-width:1024px) {
    h4 {
        font-size:22px;
    }
}
@media (min-width:1025px) {
    h4 {
        font-size:24px;
    }
}
h5 {
    font-size:17px;
    font-family:'Open Sans',sans-serif;
    font-weight:300;
}
@media (min-width:768px) and (max-width:1024px) {
    h5 {
        font-size:18px;
    }
}
@media (min-width:1025px) {
    h5 {
        font-size:20px;
    }
}
h6 {
    font-size:12px;
    font-family:'amplesoft-medium',sans-serif;
}
@media (min-width:768px) and (max-width:1024px) {
    h6 {
        font-size:16px;
    }
}
@media (min-width:1025px) {
    h6 {
        font-size:18px;
    }
}
p {
    margin-bottom:1em;
}
strong {
    font-weight:bold;
}
.text-center {
    text-align:center;
}
textarea:focus,input:focus {
    outline:0;
}
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #e0e8e9;
    margin:0;
    padding:0;
}

.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
    
/*Table styles*/
td {
  padding: 0.5em;
  border: 1px #AFAEAF solid;
} 
.table-d {
  max-width: 100%;
  font-size: 0.8em;
  color: #8a898a;
  border-collapse: collapse;
}
/* End table styles*/
    
/* Header menu styles */

#site-nav {
    padding: 2%;
}

.pull-right {
  position: absolute;
  right: 20px;
}

header #site-nav a {
    color: #262626;
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    display: block;
}

header #site-nav li.active a {
    color: #262626;
    font-weight: 700;
}

header #site-nav a:hover {
    color: #A6C307;
}
.superhero-dropdown {
    float: left;
    margin-right: 20px;
}
.superhero-dropdown >ul {
    margin: 0;
}
.superhero-dropdown >ul >li {
    margin: 0 10px 0 0;
    padding: 0;
}
.superhero-dropdown ul ul {
    opacity: 0;
    height: 0;
    position: absolute;
    min-width: 260px;
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 3px 8px rgba(0,0,0,0.125);
    overflow: hidden;
    margin: 30px 0 0 0;
    padding: 0;
    transition: margin-top .3s, opacity .3s;
    -webkit-transition: margin-top .3s, opacity .3s;
    z-index: 999;
    border-radius: 10px !important;
    border-top: 3px #A6C307 solid;
}
.superhero-dropdown ul ul li {
    list-style: none;
    border-bottom: 1px solid #EEEEEE;
    margin: 0;
    position: relative;
}
.superhero-dropdown ul ul li.last {
    border-bottom: none;
}
.superhero-dropdown ul ul li a {
    line-height: 40px;
    font-size: 12px;
}
.superhero-dropdown ul ul ul {
    top: 0;
    left: 260px;
}
.superhero-dropdown > ul > li {
    display: inline-block;
    position: relative;
}
.superhero-dropdown ul li:hover > ul {
    height: auto;
    opacity: 1;
    margin-top: 0;
    overflow: visible;
}
.superhero-dropdown a {
    display: block;
    padding: 0 20px;
    font-size: 15px;
}
.rtl .superhero-dropdown ul ul ul {
    left: -260px;
}
.main-menu-toggle {
    display: none;
}
.superhero-dropdown .menu-arrow {
    display: none;
}
ul.menu {
    text-align: start;
}
.superhero-dropdown > ul ul li:hover {
    background: #f5f5f5;
}
.superhero-dropdown > ul ul li.last:hover {
    border-radius: 0px 0px 10px 10px;
}

/* End header menu styles */

/*Content styles */

a.green-link{
	color:#A6C307 !important;
	font-weight:600;
	cursor:pointer;
}

.bgreen {
    background-color: #A6C307;
}
.green {
    background-color: #54BBAB;
}
.yellow {
    background-color: #FFDD00;
}
.pink {
    background-color: #D7007F;
}
.blue {
    background-color: #00AEBA;
}
.purple {
    background-color: #831F82;
}

.payu-top-menu2 > a.active {
    color: #A6C307 !important;
    font-weight: 700 !important;
}

.payu-top-menu2 > ul.menu li > a.active {
    color: #A6C307 !important;
    font-weight: 700 !important;
}   
/* estilos buscador  */
.et_search_icon:before{
	color: #A6C307 !important;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding-right: 0.5em;
	content: "\f002";
}
.et_search_icon:hover{
	cursor: pointer;
}

.et-search-form {
    background: #fff none repeat scroll 0 0;
    border-top: 3px solid #A6C307;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
    position: absolute;
    right: 16px;
    top: 46px;
    z-index: 998;
	width: 447px;
    height: 70x;
}

.et-search-form table {
    margin: 0 0;
}


.et-search-form td {
    border: 0;
    padding: 0;
}

.gsc-input-box {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d9d9d9;
    height: 30px !important;
}

.et-search-form  *{
	box-sizing: unset;
}

/*fin estilos buscador*/


/* List styles */
li a.active {
    color: #262626 !important;
    font-weight: 700 !important;
}
.list-arrow> ul li:before {
  content: "\f101";
  font-family: FontAwesome;
  padding-right: 5px;
  font-weight: 600;
  color: #54BBAB;
}
li.bullet-box {
  color: #262626;
}
li.bullet-box:before {
  content: '\f0da';
  font-family: FontAwesome;
  display: inline-block;
  width: 1em;
  /* margin-left: -1.5em; */
  color: #00AEBA;
  margin-right: 0.5em;
}
/*End list styles*/
.grey-bg {
    background: #edf2f2;
    border-top: 1px #dfe3e3 solid;
    padding: 30px 0;
}
.white-bg {
    background: #fff;
    padding: 30px 0;
    width: 100;
}

.white-bg:after {
  content : "";
  position: absolute;
  left: 25%;
  bottom  : 0;
  height  : 1px;
  width   : 50%;  /* or 100px */
  border-bottom:1px solid #dfe3e3;
}

.main-text {
    text-align: center;
    padding: 10px 0;
}

.sub-text {
    font-family: "open sans";
    font-size: 20px;
    line-height: 24px;
} 

.overview {
    font-size: 20px;
    color: #797d7e;
    line-height: 1.5;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
}

.card{
    text-align: center;
    padding: 20px;
}
.image-wrapper {
    border-radius: inherit;
    margin: 30px 0;
}
.card-title{
    font-family: 'open sans',sans-serif;
    font-weight: 700;
    font-size: 26px;    
}
.card p{
    color: #262626;
    text-align: left;
}

.card h4 {
  font-size: 20px;
}

#news .image-wrapper {
    overflow: hidden;
    border-radius: 10px;
    margin: 0;
}

.quote {
    color: #fff;
    border-radius: 10px;
    display: block;
    padding: 20px;
    height: 240px;
}

.quote.blue {
  margin-bottom: 15px;
}

.quote.purple, .quote.green {
  margin-top: 10px;
}

.quote h3 {
    font-size: 20px;
    color: #fff;
}

.quote p {
    font-size: 16px;
    color: #fff;
    line-height: 20px;
}

.quote.green:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #54BBAB;
  position: absolute;
  left: 30%;
  top: -4%;
}

.quote.blue:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #00AEBA;
  position: absolute;
  left: 30%;
  bottom: -4%;
}
.quote.purple:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #831F82;
  position: absolute;
  left: 30%;
  top: -4%;
}

.quote span.date, .quote a.news-link {
    color: #fff;
    font-weight: 600;
}

span.date {
  position: absolute;
  left: 22px;
bottom:20px;
}

a.news-link {
  position: absolute;
  right: 22px;
    bottom:20px;
}

.quote span.date:before {
  content: "\f073";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  padding-right: 0.5em;
  color: #fff;
}
.quote a.news-link:after {
  content: "\f178";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  padding-left: 0.3em;
  color: #fff;
}
    
.icon-circle {
  display: inline-block;
  text-align: center;
  border-radius: 240px;
  width: 135px;
  height: 135px;
  padding: 0;
  border: 1px solid #D1D4D4;
  vertical-align: middle;
  margin: 15px 0;
}
    
.icon-circle img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
    
/* Sticky top Menu */
    
.payu-title1 {
	-webkit-transition: padding 0.1s ease-in,font-size 0.1s ease-in,letter-spacing 0.1s ease-in, margin 0.1s ease-in ;
	transition: 		padding 0.1s ease-in,font-size 0.1s ease-in,letter-spacing 0.1s ease-in, margin 0.1s ease-in ;
	-moz-transition: 	padding 0.1s ease-in,font-size 0.1s ease-in,letter-spacing 0.1s ease-in, margin 0.1s ease-in ;
	-o-transition: 		padding 0.1s ease-in,font-size 0.1s ease-in,letter-spacing 0.1s ease-in, margin 0.1s ease-in ;
    font-size: 36px;
    font-family: 'amplesoft-medium',sans-serif;
    color: #fff;
    padding: 15px 0;
    letter-spacing: 0.02em;
    margin: 0;
}   

.collapsed {
	
   font-size: 26px;
  font-family: 'amplesoft-medium',sans-serif;
  color: #fff;
  padding: 5px 0;
  letter-spacing: 0.02em;
  margin: 0;
  
  
}

.payu-page-header ul {
  font-family: 'open sans', sans-serif;
  font-size: 14px;
  line-height: 2;
  padding: 0px;
  margin: 0px;
}
.hidden-xs {
  display: block!important;
  background-color: #EDF2F2;
  border-bottom: 1px #dfe3e3 solid;
}
.payu-page-header ul {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 2;
    padding: 0px;
    margin: 0px;
}
.payu-page-header ul li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}
.payu-page-header ul li a {
  padding: 4px 10px;
  margin: 0;
  display: block;
  font-weight: 400;
  color: #262626;
}
.payu-page-header ul li a.active {
  background-color: #A6C307;
}
.payu-page-header ul li a.active:before {
  content: "";
  width: 20px;
  height: 0px;
  border-style: solid;
  border-width: 10px 10px 0px 10px;
  position: absolute;
  top: 90%;
  left: 50%;
  margin-left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #a6c307;
  z-index: 100;
}
/* End sticky top Menu */

/* Sidemenu Styles*/
#page-menu-column2 {
    float: left;
    width: 75%;
    padding-left: 20px;
    background-color: #ffffff;
}
#page-menu-column1 {
  float: left;
  width: 25%;
  background-color: #f5f5f5;
}
.lateral-menu {
    width: 100%;
    padding: 10px 0 10px 40px;
    float: left;
    border-bottom: 1px solid #eaeaea;
    display: block;
    font-family: "open sans";
    font-weight: 400;
    color: #262626;
}

.lateral-menu:hover {
    width: 100%;
    float: left;
    background-color: #00AEBA;
    color: #fff;
    font-family: "open sans";
    font-weight: 400;
    display: block;
    cursor: pointer;
}
.sidemenu-title {
  text-align: center;
  font-family: amplesoft-medium;
  color: rgb(38, 38, 38);
  font-size: 20px;
  padding: 10px 0;
    margin: 20px 0 10px;
}
.lateral-menu:before {
    content: "";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding-right: 0.5em;
}

.active-lateral-menu {
    width: 100%;
    float: left;
    background-color: #00AEBA;
    color: #fff;
    font-family: "open sans";
    font-weight: 400;
    display: block;
    cursor: pointer;
}

.lateral-menu.pagos:before {
    content: "\f07a";
}
.lateral-menu.consultas:before {
    content: "\f002";
}
.lateral-menu.cancel:before {
    content: "\f00d";
}
.lateral-menu.tokenizacion:before {
    content: "\f132";
}
.lateral-menu.recurring:before {
    content: "\f01e";
}
.lateral-menu.pruebas:before {
    content: "\f0ad";
}
.lateral-menu.tablas:before {
    content: "\f0ce";
}
.lateral-menu.info:before {
    content: "\f129";
}
.lateral-menu.intro:before {
   content: "\f135";
}
.lateral-menu.check:before {
    content: "\f046";
}
.lateral-menu.money:before {
    content: "\f0d6";
}
.lateral-menu.transfer:before {
    content: "\f045";
}
.lateral-menu.stats:before {
    content: "\f080";
}
.lateral-menu.data:before {
    content: "\f007";
}
.lateral-menu.gear:before {
    content: "\f013";
}
.lateral-menu.country:before {
    content: "\f0ac";
}
.lateral-menu.dispute:before {
    content: "\f0b1";
}
/* End sidemenu Styles*/   

/* Tabs styles */
div.ui-tabs-panel {
    border-radius: 0;
  display: block;
  padding: 1em 1.4em;
  background-color: #fff!important;
  border: 1px solid #7d7d7d !important;
}
.ui-widget-content .ui-widget-content>div.ui-tabs-panel {
    background-color: #EDF2F2!important;
    border: none!important;
}
.ui-widget-content .ui-widget-content>div.ui-tabs-panel pre {
    background-color: #ffffff;
}
div.ui-widget-content {
    border: none;
}
.squelch-taas-override.squelch-taas-tab-group.ui-widget-content {
    font-family: "Open Sans",sans-serif;
  font-weight: normal;
  font-size: 14px !important;
  line-height: 20px !important;
  color: #5C5C5C!important;
  margin: 10px 0;
}
.squelch-taas-override.squelch-taas-tab-group.ui-tabs .ui-state-default.ui-state-active a {
  text-shadow: 1px 1px 1px #6f6f6f;
  background: #00AEBA;
}
.ui-widget-content a:link {
  color: #262626;
} 
.ui-widget-content a:visited {
  color: #262626;
} 
pre {
    background-color: #fff;
    padding: 15px;
    color: #333;
    max-height: 300px;
    overflow: auto;
    border: 2px #EDF2F2 solid;
    margin: 10px 0;
}
/* end tab styles */
/*Accordion styles */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
}
.squelch-taas-toggle .ui-accordion-header, .squelch-taas-accordion .ui-accordion-header {
  margin: 10px 0;
  letter-spacing: 0;
  padding: 1px;
}
.ui-state-default.ui-accordion-header {
  background: #00AEBA;
}
.ui-state-default.ui-accordion-header a:before {
  content: "\f0ce";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  padding-right: 0.5em;
}
.ui-state-default.ui-accordion-header a:after {
    content: "\f107";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 700;
  text-decoration: inherit;
  padding-right: 0.5em;
  position: absolute;
  top: 5px;
  right: 2px;
  font-size: 22px;
}

.ui-state-default.ui-accordion-header a {
  color: #fff;
  font-weight: 600;     
    display:block;
    width:100%;
    height:100%;
    padding: 0.5em;
}
.ui-state-default.ui-accordion-header a:hover {
  font-weight: 600;
  color: #000;
}
/* End accordion styles */

/* Button styles */
a.payu-btn-blue {
  font-family: "Open Sans",sans-serif;
  font-weight: 600;
  border-radius: 36px;
  background-clip: padding-box;
  padding: 0px 60px;
  display: inline-block;
  vertical-align: middle;
  height: 60px;
  line-height: 56px;
  color: #fff !important;
  margin: 20px 20px 20px 0; 
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
  background-color: #A6C307;
}
a.payu-btn-blue:after {
  content: "\f178";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  padding-left: 0.3em;
  color: #fff;
}
a:hover.payu-btn-blue {
    background-color: #438F29;
    cursor: pointer;
    transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
}
a.payu-btn-green {
  font-family: "Open Sans",sans-serif;
  font-weight: 600;
  border-radius: 36px;
  padding: 15px 40px;
  display: inline-block;
  vertical-align: middle;
  color: #262626;
  margin: 20px 20px 20px 0;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
  border: 2px solid #A6C307;
  background-color: #fff;
}
.payu-btn-green:after{
  content: "\f178";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  padding-left: 0.3em;
  color: #262626;
}
a:hover.payu-btn-green {
    background-color: #A6C307;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
}
.box-carrito:hover {
  border: 1px solid #c3c3c3;
}
.box-carrito{
  border: 1px solid #f5f5f5;
}
/* End button styles */

.highlight-txt {
  background: none repeat scroll 0px 0px #eDF2F2;
  border-radius: 8px;
  font-weight: normal;
  padding: 2px 5px;
  color: #262626;
}
.highlight-txt2 {
  font-style: italic;
  font-weight: 600;
  color: #262626;
}
.number {
  font-size: 24px;
  font-family: amplesoft-medium;
  color: #00AEBA;
  font-weight: 600;
  letter-spacing: 0.1em;
}
.blue-text-13 {
  font-size: 16px;
  line-height: 20px;
  color: #262626;
  font-weight: 600;
}
.info-icon {
  background-image: url(../images/info_icon.png);
  background-repeat: no-repeat;
  font-family: amplesoft-medium;
  padding-left: 55px;
  color: #262626;
  font-size: 1.5em;
  height: 50px;
  padding-top: 8px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  display: block;
}
#blue-box, .blue-box {
  float: left;
  background-color: #EDF2F2;
  border: 1px solid;
  border-color: #d4d6d6;
  width: 100%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  behavior: url(border.htc);
  border-radius: 10px;
  padding: 20px;
      margin: 10px 0;
}
#grey-box, .grey-box {
  float: left;
  border: 1px #c5c5c5 solid;
  width: 100%;
  padding: 20px;
  color: #262626;
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
    border-radius: 10px;
}

#blue-box li:before, .blue-box li:before {
  content: "\f101";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 600;
  text-decoration: inherit;
  padding-left: 0.5em;
  color: #00AEBA;
}

#info-box {
  font-family: 'amplesoft-regular';
  padding-left: 50px;
  padding-top: 11px;
  width: 100%;
  height: 60px;
  background-image: url(../images/info.png);
  background-repeat: no-repeat;
  font-size: 24px;
  color: #262626;
}
.note1 {
  width: 100%;
  font-size: 1em;
  background-color: #fff;
  text-align: left;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px #FFDD00 solid;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  color: #262626;
}
.note4 {
    position: relative;
    float: left;
    width: 60%;
    margin-bottom: 15px;
}
.note5 {
  background: none repeat scroll 0% 0% #ededed;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(156, 165, 181, 0.3);
  padding: 10px 8px;
  position: relative;
  width: 35%;
  float: right;
  color: #262626;
}
.simple-box{
    display: block;
    margin: 40px 0 0 0;
}
.blue-text-16 {
  line-height: 20px;
  color: #262626;
  font-weight: bold;
}
.subtitle-page {
  font-size: 26px;
  line-height: 28px;
  color: #262626;
  font-weight: 600;
    margin: 10px 0;
  display: block;
}
.subtitle-page2 {
    font-size: 20px;
    color: #262626;
    font-weight: 600;
}
img.center {
  display: block;
  margin: auto;
  padding-bottom: 0.7em;
}
img {
max-width: 100%;
height: inherit;
}
.row-img{
    display:block;
    float: left;
    width: 100%;
    padding-bottom:15px;
}
.row-img p{
    display:block;
    width: 40%;
    padding-right: 3%;
    float:left;
}

.row-img .divfloatleft{
    display:block;
    width: 50%;
    padding-right: 3%;
    float:left;
}

.row-img img {
    display:block;
    max-width: 55%;
    float: left;
}
div.row-image {
    display: block;
    height: auto;
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
div.row-image img {
    margin: auto; 
    padding: 3px;
}
.credit-card {
  font-size: 20px;
  color: #262626;
  font-weight: 600;
  padding: 25px 0px 5px;
}
.credit-card:before {
    content: "\f09d";
  font-family: FontAwesome;
  padding-right: 0.35em;
    font-size:24px;
    color:#54BBAB;
    position: relative;
  left: 5px;
}
.cash {
    font-size: 20px;
    color: #262626;
    font-weight: 600;
    padding: 25px 0px 5px;
}
.cash:before {
        content: "\f0d6";
  font-family: FontAwesome;
    padding-right: 0.35em;
    font-size:24px;
    color:#54BBAB;
    position: relative;
  left: 5px;
}
.bank-transfer {
    font-size: 20px;
    color: #262626;
    font-weight: 600;
    padding: 25px 0px 5px;
}
.bank-transfer:before {
    content: "\f045";
  font-family: FontAwesome;
    padding-right: 0.35em;
    font-size:24px;
    color:#54BBAB;
    position: relative;
  left: 5px;
}
.paso1 {
  background-image: url(../images/uno.png);
  padding-left: 35px;
}
.paso1 {
    background-image: url(../images/uno.png);
    padding-left: 35px;
}
.paso2 {
    background-image: url(../images/dos.png);
    padding-left: 35px;
}
.paso3 {
    background-image: url(../images/tres.png);
    padding-left: 35px;
}
.paso4 {
    background-image: url(../images/cuatro.png);
    padding-left: 35px;
}
.paso5 {
    background-image: url(../images/cinco.png);
    padding-left: 35px;
}
.paso6 {
    background-image: url(../images/seis.png);
    padding-left: 35px;
}
.paso7 {
    background-image: url(../images/siete.png);
    padding-left: 35px;
}
.paso8 {
    background-image: url(../images/ocho.png);
    padding-left: 35px;
}
#two-columns-column1, .two-columns-column1 {
    float: left;
    width: 40%;
    padding-right: 2%;
}
#two-columns-column2, .two-columns-column2{
    float: left;
    width: 60%;
}
iframe {
    width: 700px;
    height: 400px;
}
/*footer*/
footer {
    background-color: #444343;
}
footer .container-links {
    padding: 100px 0;
}
@media (min-width: 0) and (max-width: 767px) {
    footer .container-links {
        padding: 50px 0;
    }
}
footer #footer-links {
    width: 58.33333%;
    float: left;
}
footer #footer-links a {
    width: 30%;
    margin-right: 2.12766%;
    margin-bottom: 1em;
    padding: 5px 0;
    float: left;
    display: block;
    color: #AFAEAF;
    font-size: 14px;
}
footer #footer-links a:hover {
    color: #fff;
    font-weight: bold;
}
@media (min-width: 0) and (max-width: 767px) {
    footer #footer-links a {
        width: 50%;
        margin: 0;
    }
}
@media (min-width: 0) and (max-width: 767px) {
    footer #footer-links {
        width: 100%;
        padding: 0 0 50px 0;
    }
}
footer #footer-right-nav {
    width: 41.66667%;
    float: left;
    border-left: 1px solid #5f646a;
}
footer #footer-right-nav .icon-flag {
    top: 4px;
    margin-right: 9px;
}
footer #footer-right-nav a {
    color: #fff;
}
footer #footer-right-nav a:hover {
    color: #8ac44a;
}
footer #footer-right-nav .country-language-selector {
    padding: 32px 0 32px 8%;
    border-bottom: 1px solid #5f646a;
    display: block;
}
footer #footer-right-nav .country-language-selector .languages {
    display: inline;
}
@media (min-width: 0) and (max-width: 767px) {
    footer #footer-right-nav .country-language-selector {
        border-top: 1px solid #5f646a;
        padding: 30px 0 30px 0;
    }
}
footer #footer-right-nav .social {
    padding: 32px 0 32px 0;
}
footer #footer-right-nav .social a {
    padding: 30px;
    float: left;
}
footer #footer-right-nav .social a:first-child {
    padding-left: 8%;
}
@media (min-width: 0) and (max-width: 767px) {
    footer #footer-right-nav .social {
        padding: 30px 0;
        border-bottom: 1px solid #5f646a;
    }
    footer #footer-right-nav .social a {
        width: 25%;
        float: left;
        padding: 0 !important;
        text-align: center;
        border-right: 1px solid #5f646a;
    }
    footer #footer-right-nav .social a:last-child {
        border-right: 0;
    }
}
@media (min-width: 0) and (max-width: 767px) {
    footer #footer-right-nav {
        width: 100%;
        border-left: none;
    }
}
footer #footer-contact {
    background-color: #3f3f3f;
    padding: 50px 0;
    color: #fff;
    text-align: center;
}
footer #footer-contact .label-info {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 26px;
}
@media (min-width: 0) and (max-width: 767px) {
    footer #footer-contact .label-info {
        font-size: 20px;
    }
}
footer #footer-contact .button-circle {
    margin-left: 22px;
}
/*
footer #footer-contact .button-circle i {
    font-size: 16px;
}*/
footer #footer-contact .button-circle .button-text {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-left: 14px;
}
@media (min-width: 0) and (max-width: 767px) {
    footer #footer-contact .button-circle .button-text {
        display: none;
    }
}
@media (min-width: 0) and (max-width: 767px) {
    footer #footer-contact .button-circle {
        margin-left: 12px;
    }
}
footer #awards {
    position: relative;
    margin-bottom: 110px;
}
footer #awards .label-awards {
    text-transform: uppercase;
    font-family: 'amplesoft-medium', sans-serif;
    font-size: 14px;
    color: #fff;
    display: block;
    margin-bottom: 50px;
}
footer #awards .label-awards i {
    bottom: auto;
    color: #fff;
    font-size: inherit;
    position: relative;
}
@media (min-width: 0) and (max-width: 767px) {
    footer #awards .label-awards {
        margin-bottom: 25px;
    }
}
.icon-circle-small {
  width: 64px;
  height: 64px;
  line-height: 64px;
  display: inline-block;
  text-align: center;
  border-radius: 240px;
  padding: 0;
  border: 1px solid #636262;
  vertical-align: middle;
}
/*footer end*/
/*estilos ejemplos*/
pre .tag, pre .json-property{
color: #00aeba;
font-weight: 600;
}
pre .json-close-bracket, pre .json-open-bracket {
   color: #a6c307;
  font-weight: 600;
}
pre .stronger {
    color: #000000;
    font-weight: 700;
}
/* fin estilos ejemplos*/