---
title: CSS stylesheet
---


/* General settings */
/*fonts*/
@font-face {
	font-family:'amplesoft-bold';
	src:url('/fonts/amplesoft-bold.eot');
	src:url('/fonts/amplesoft-bold.eot?#iefix') format('embedded-opentype'),url('/fonts/amplesoft-bold.woff2') format('woff2'),url('/fonts/amplesoft-bold.woff') format('woff'),url('/fonts/amplesoft-bold.ttf') format('truetype'),url('/fonts/amplesoft-bold.svg#amplesoft-boldbold') format('svg');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:'amplesoft-medium';
	src:url('/fonts/amplesoft-medium.eot');
	src:url('/fonts/amplesoft-medium.eot?#iefix') format('embedded-opentype'),url('/fonts/amplesoft-medium.woff2') format('woff2'),url('/fonts/amplesoft-medium.woff') format('woff'),url('/fonts/amplesoft-medium.ttf') format('truetype'),url('/fonts/amplesoft-medium.svg#amplesoft-mediummedium') format('svg');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:'amplesoft-light';
	src:url('/fonts/amplesoft-light.eot');
	src:url('/fonts/amplesoft-light.eot?#iefix') format('embedded-opentype'),url('/fonts/amplesoft-light.woff2') format('woff2'),url('/fonts/amplesoft-light.woff') format('woff'),url('/fonts/amplesoft-light.ttf') format('truetype'),url('/fonts/amplesoft-light.svg#amplesoft-lightlight') format('svg');
	font-weight:normal;
	font-style: normal;
}
@font-face {
	font-family:'amplesoft-regular';
	src:url('/fonts/amplesoft-regular.eot');
	src:url('/fonts/amplesoft-regular.eot?#iefix') format('embedded-opentype'),url('/fonts/amplesoft-regular.woff2') format('woff2'),url('/fonts/amplesoft-regular.woff') format('woff'),url('/fonts/amplesoft-regular.ttf') format('truetype'),url('/fonts/amplesoft-regular.svg#amplesoft-regularregular') format('svg');
	font-weight:normal;
	font-style: normal;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

@font-face {
  font-family: 'FontAwesome';
  src: url('/fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('/fonts/fontawesome-webfont.ttf?v=4.0.3')  format('truetype'), url('/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
       font-weight:normal;
	   font-style: normal;
}

/*fonts end*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	font:inherit;
	font-size:100%;
	vertical-align:baseline;
}
html {
	line-height:1;
}
ol,ul {
	list-style:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
caption,th,td {
	text-align:left;
	font-weight:normal;
	vertical-align:middle;
}
q,blockquote {
	quotes:none;
}
q:before,q:after,blockquote:before,blockquote:after {
	content:"";
	content:none;
}
a img {
	border:none;
}
elements-of-type(html5-block) {
	display:block;
}
.clearfix:after,.container:after,.container-fluid:after,.wrapper:after,section:after,.tabs .tab-links:after,.tabs-centered .tab-links .tab:after,.global-search:after,#login .row:after,#login .form-login:after,.mobile-main-nav .form-search:after,footer:after,footer #footer-right-nav .social:after,.card:after,.country .title-container:after,#promo-form .col-left .card:after,#pricing-table .card .card-content li:after,#pricing-table .section-footer:after,#how-it-works-enhanced .card:after,#payment-methods .logos-block-grid:after {
	content:"";
	display:table;
	clear: both;
}

/* Column system */
.col {
	-webkit-transition:all 0.3s;
	-webkit-transition-delay:0s;
	transition:all 0.3s;
	float:left;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	padding:0 15px;
}
.col.s1 {
	width:8.33333%;
	margin-left:0;
}
.col.s2 {
	width:16.66667%;
	margin-left:0;
}
.col.s3 {
	width:25%;
	margin-left:0;
}
.col.s4 {
	width:33.33333%;
	margin-left:0;
}
.col.s5 {
	width:41.66667%;
	margin-left:0;
}
.col.s6 {
	width:50%;
	margin-left:0;
}
.col.s7 {
	width:58.33333%;
	margin-left:0;
}
.col.s8 {
	width:66.66667%;
	margin-left:0;
}
.col.s9 {
	width:75%;
	margin-left:0;
}
.col.s10 {
	width:83.33333%;
	margin-left:0;
}
.col.s11 {
	width:91.66667%;
	margin-left:0;
}
.col.s12 {
	width:100%;
	margin-left:0;
}
.col.offset-s1 {
	margin-left:8.33333%;
}
.col.offset-s2 {
	margin-left:16.66667%;
}
.col.offset-s3 {
	margin-left:25%;
}
.col.offset-s4 {
	margin-left:33.33333%;
}
.col.offset-s5 {
	margin-left:41.66667%;
}
.col.offset-s6 {
	margin-left:50%;
}
.col.offset-s7 {
	margin-left:58.33333%;
}
.col.offset-s8 {
	margin-left:66.66667%;
}
.col.offset-s9 {
	margin-left:75%;
}
.col.offset-s10 {
	margin-left:83.33333%;
}
.col.offset-s11 {
	margin-left:91.66667%;
}
.col.offset-s12 {
	margin-left:100%;
}
@media (min-width:768px) and (max-width:1024px) {
	.col.m1 {
		width:8.33333%;
		margin-left:0;
	}
	.col.m2 {
		width:16.66667%;
		margin-left:0;
	}
	.col.m3 {
		width:25%;
		margin-left:0;
	}
	.col.m4 {
		width:33.33333%;
		margin-left:0;
	}
	.col.m5 {
		width:41.66667%;
		margin-left:0;
	}
	.col.m6 {
		width:50%;
		margin-left:0;
	}
	.col.m7 {
		width:58.33333%;
		margin-left:0;
	}
	.col.m8 {
		width:66.66667%;
		margin-left:0;
	}
	.col.m9 {
		width:75%;
		margin-left:0;
	}
	.col.m10 {
		width:83.33333%;
		margin-left:0;
	}
	.col.m11 {
		width:91.66667%;
		margin-left:0;
	}
	.col.m12 {
		width:100%;
		margin-left:0;
	}
	.col.offset-m1 {
		margin-left:8.33333%;
	}
	.col.offset-m2 {
		margin-left:16.66667%;
	}
	.col.offset-m3 {
		margin-left:25%;
	}
	.col.offset-m4 {
		margin-left:33.33333%;
	}
	.col.offset-m5 {
		margin-left:41.66667%;
	}
	.col.offset-m6 {
		margin-left:50%;
	}
	.col.offset-m7 {
		margin-left:58.33333%;
	}
	.col.offset-m8 {
		margin-left:66.66667%;
	}
	.col.offset-m9 {
		margin-left:75%;
	}
	.col.offset-m10 {
		margin-left:83.33333%;
	}
	.col.offset-m11 {
		margin-left:91.66667%;
	}
	.col.offset-m12 {
		margin-left:100%;
	}
}
@media (min-width:1025px) {
	.col.l1 {
		width:8.33333%;
		margin-left:0;
	}
	.col.l2 {
		width:16.66667%;
		margin-left:0;
	}
	.col.l3 {
		width:25%;
		margin-left:0;
	}
	.col.l4 {
		width:33.33333%;
		margin-left:0;
	}
	.col.l5 {
		width:41.66667%;
		margin-left:0;
	}
	.col.l6 {
		width:50%;
		margin-left:0;
	}
	.col.l7 {
		width:58.33333%;
		margin-left:0;
	}
	.col.l8 {
		width:66.66667%;
		margin-left:0;
	}
	.col.l9 {
		width:75%;
		margin-left:0;
	}
	.col.l10 {
		width:83.33333%;
		margin-left:0;
	}
	.col.l11 {
		width:91.66667%;
		margin-left:0;
	}
	.col.l12 {
		width:100%;
		margin-left:0;
	}
	.col.offset-l1 {
		margin-left:8.33333%;
	}
	.col.offset-l2 {
		margin-left:16.66667%;
	}
	.col.offset-l3 {
		margin-left:25%;
	}
	.col.offset-l4 {
		margin-left:33.33333%;
	}
	.col.offset-l5 {
		margin-left:41.66667%;
	}
	.col.offset-l6 {
		margin-left:50%;
	}
	.col.offset-l7 {
		margin-left:58.33333%;
	}
	.col.offset-l8 {
		margin-left:66.66667%;
	}
	.col.offset-l9 {
		margin-left:75%;
	}
	.col.offset-l10 {
		margin-left:83.33333%;
	}
	.col.offset-l11 {
		margin-left:91.66667%;
	}
	.col.offset-l12 {
		margin-left: 100%;
	}
}

/* Containers width */

.clearfix:after,.container:after,.container-fluid:after,.wrapper:after,section:after,.tabs .tab-links:after,.tabs-centered .tab-links .tab:after,.global-search:after,#login .row:after,#login .form-login:after,.mobile-main-nav .form-search:after,footer:after,footer #footer-right-nav .social:after,.card:after,.country .title-container:after,#promo-form .col-left .card:after,#pricing-table .card .card-content li:after,#pricing-table .section-footer:after,#how-it-works-enhanced .card:after,#payment-methods .logos-block-grid:after {
				content:"";
				display:table;
				clear:both;
			}
			main {
				display:block;
			}
			.container {
				width:1280px;
					margin:0 6%;
				}
				.container-rounded {
					padding:42px 45px;
					border:1px solid #edf2f2;
					-o-border-radius:90px;
					border-radius:90px;
				}
				@media (min-width:0) and (max-width:767px) {
					.container-rounded {
						border:none;
					padding:0;
					text-align:left;
				}
			}
			.container-rounded-light {
				border-color:#eeeded;
			}
			.container-indented {
				padding-left:8.33333%;
				padding-right:8.33333%;
			}
			@media (min-width:768px) and (max-width:1024px) {
				.container-indented {
							padding:0;
						}
					}
					@media (min-width:0) and (max-width:767px) {
						.container-indented {
							padding:0;
						}
					}
					.container-centered {
						text-align:center;
					}
					.container-centered .lg-third,.container-centered .lg-quarter {
			vertical-align:top;
			display:inline-block;
			float:none;
		}
		.container-fluid {
			margin:0 !important;
		}
		@media (min-width:0) and (max-width:767px) {
				.container-fluid-small {
					margin:0 !important;
				}
			}
			@media (min-width:768px) and (max-width:1024px) {
					.container-fluid-medium {
						margin:0 !important;
					}
				}
				section.section-module {
					padding:120px 0 130px 0;
	}
	@media (min-width:0) and (max-width:767px) {
		section.section-module {
			padding:60px 0;
				}
			}
			section .section-header {
				margin:0 6%;
				text-align:center;
				margin-bottom:40px;
			}
			@media (min-width:0) and (max-width:767px) {
						section .section-header {
							margin-bottom:1.7em;
						}
					}
					section .section-footer {
						text-align:center;
				}
				section .overview {
					color:#797d7e;
					text-align:center;
					font-size:20px;
					font-size:17px;
					line-height:1.5;
			font-family:'Open Sans',sans-serif;
			font-weight:300;
		}
		@media (min-width:768px) and (max-width:1024px) {
					section .overview {
						font-size:18px;
					}
				}
				@media (min-width:1025px) {
					section .overview {
						font-size:20px;
			}
		}
		section .overview p {
			margin:0;
		}
		@media (min-width:1025px) {
			.lg-full {
				width:100%;
				padding:0 15px;
			}
			.lg-half {
						float:left;
						width:50%;
						padding:0 15px;
					}
					.lg-third {
						float:left;
						width:33.33333%;
						padding:0 15px;
					}
					.lg-quarter {
					float:left;
					width:25%;
					padding:0 15px;
				}
			}
			@media (min-width:768px) and (max-width:1024px) {
				.md-full {
				width:100%;
				padding:0 15px;
			}
			.md-half {
				float:left;
				width:50%;
				padding:0 15px;
			}
			.md-third {
				float:left;
				width:33.33333%;
						padding:0 15px;
					}
					.md-quarter {
						float:left;
						width:25%;
						padding:0 15px;
					}
				}
				@media (min-width:0) and (max-width:767px) {
				.sm-full {
					width:100%;
					padding:0 15px;
				}
				.sm-half {
					float:left;
					width:50%;
					padding:0 15px;
					}
					.sm-third {
						float:left;
						width:33.33333%;
						padding:0 15px;
					}
					[class*='lg-'] {
						margin-bottom:30px;
					}
					[class*='lg-']:last-child {
					margin-bottom:0;
				}
			}
			.hide,.target {
				display:none !important;
			}
			.active {
				display:inline-block !important;
			}
			.sticky {
				position:fixed !important;
				top:0;
				left:0;
			}
			.content-centered {
				text-align:center !important;
			}

			.zpt {
				padding-top:0 !important;
			}
			.zpb {
				padding-bottom:0 !important;
			}
			.zmt {
				margin-top:0 !important;
				}
				.zmb {
					padding-bottom:0 !important;
				}
				@media (min-width:0) and (max-width:767px) {
					.hide-small {
						display:none !important;
						}
					}
					@media (min-width:768px) and (max-width:1024px) {
						.hide-medium {
							display:none !important;
					}
				}
				@media (min-width:1025px) {
					.hide-large {
						display:none !important;
					}
				}
				@media (min-width:1025px) {
					.margin-large-bottom {
						margin-bottom:80px !important;
					}
				}
				@media (min-width:0) and (max-width:767px) {
					.margin-large-bottom {
						margin-bottom:0;
					}
				}
				@media (min-width:1025px) {
					.lg-text-left {
						text-align:left;
					}
					.lg-text-right {
						text-align:right;
					}
					.lg-text-center {
						text-align:center;
					}
				}
				@media (min-width:768px) and (max-width:1024px) {
				.md-text-left {
					text-align:left;
				}
				.md-text-right {
					text-align:right;
				}
				.md-text-center {
					text-align:center;
				}
			}
			@media (min-width:0) and (max-width:767px) {
				.sm-text-left {
					text-align:left;
				}
				.sm-text-right {
					text-align:right;
							}
							.sm-text-center {
								text-align:center;
							}
						}
						@media (min-width:1470.54545px) {
							.container {
								margin:0 auto;
					}
				}
				@media (min-width:1025px) {
				}
				@media (min-width:0) and (max-width:767px) {
					.container {
						margin:0 3%;
					}
				}
				* {
					background-repeat:no-repeat;
					position:relative;
					-moz-box-sizing:border-box;
					box-sizing:border-box;
					-webkit-font-smoothing:antialiased;
				}
				html {
					height:100%;
				}
				html.stop-scrolling {
					height:100%;
					overflow:hidden;
						width:100%;
						position:fixed;
					}
					html.stop-scrolling main {
						margin:0;
					}
					body {
						font-family:Arial,sans-serif;
							font-weight:300;
							background:#fff;
							color:#AFAEAF;
							margin:0;
							padding:0;
							text-rendering:optimizeLegibility;
							-webkit-font-kerning:normal;
						-moz-font-kerning:normal;
						font-kerning:normal;
						font-size:14px;
						line-height:1.5;
						}
						@media (min-width:1025px) {
							body {
								font-size:16px;
							}
						}
						#logo {
							display:block;
							z-index:300;
							/*background:url('../images/logo-developers.png') 0 0 no-repeat;
						background-size:contain;*/
						-webkit-transition:height 0.3s;
						-webkit-transition-delay:0s;
						transition:height 0.3s;
				}
				@media (max-width:1000px) {
					#logo {
						left:50%;
						-webkit-transform:translateX(-50%);
						-ms-transform:translateX(-50%);
							transform:translateX(-50%);
						}
					}
					@media (min-width:0) and (max-width:767px) {
						#logo {
							width:70px;
							top:24px;
						}
					}
					main {
						margin-top:100px;
					}
					@media (min-width:0) and (max-width:767px) {
						main {
							margin-top:88px;
				}
			}
			@media (min-width:768px) and (max-width:1024px) {
				main {
					margin-top:88px;
				}
			}
			a {
				color:#A6C307;
				text-decoration:none;
				font-family:'Open Sans',sans-serif;
				font-weight:700;
				outline:none;
				border:none;
				-webkit-transition:color 0.2s;
						-webkit-transition-delay:0s;
						transition:color 0.2s;
					}
					a:hover {
						color:#438F29;
					}
					h1,h2,h3,h4,h5,h6 {
					color:#262626;
					letter-spacing:-0.02em;
				}
				h1 i,h2 i,h3 i,h4 i,h5 i,h6 i {
					
                    font-size:70px;
					color:#A6C307;
				   position:absolute;
				   bottom:-6px;
						padding-left:5px;
					}
					@media (min-width:0) and (max-width:767px) {
				h1 i,h2 i,h3 i,h4 i,h5 i,h6 i {
					font-size:35px;
					bottom:0;
					padding-left:4px;
				}
			}
			h1,h2 {
				margin-bottom:0.3em;
					}
					h3,h4,h5,h6 {
						margin-bottom:0.9em;
					}
					h1 {
						font-size:33px;
						line-height:1.1;
						font-family:'amplesoft-medium',sans-serif;
					}
					@media (min-width:768px) and (max-width:1024px) {
						h1 {
							font-size:54px;
						}
					}
					@media (min-width:1025px) {
					h1 {
						font-size:60px;
					}
				}
				h2 {
					font-size:30px;
					line-height:1.1;
					font-family:'amplesoft-medium',sans-serif;
				}
				@media (min-width:768px) and (max-width:1024px) {
					h2 {
						font-size:36px;
					}
				}
				@media (min-width:1025px) {
					h2 {
					font-size:48px;
				}
			}
			h3 {
				font-size:20px;
				line-height:1.1;
				font-family:'Open Sans',sans-serif;
				font-weight:700;
			}
			@media (min-width:768px) and (max-width:1024px) {
				h3 {
					font-size:28px;
				}
			}
			@media (min-width:1025px) {
				h3 {
							font-size:26px;
						}
					}
					h4 {
						font-size:17px;
						line-height:1.1;
						font-family:'Open Sans',sans-serif;
						font-weight:700;
			}
			@media (min-width:768px) and (max-width:1024px) {
				h4 {
					font-size:22px;
				}
			}
			@media (min-width:1025px) {
				h4 {
							font-size:24px;
						}
					}
					h5 {
						font-size:17px;
						font-family:'Open Sans',sans-serif;
						font-weight:300;
					}
					@media (min-width:768px) and (max-width:1024px) {
						h5 {
							font-size:18px;
						}
					}
					@media (min-width:1025px) {
						h5 {
							font-size:20px;
				}
			}
			h6 {
				font-size:12px;
				font-family:'amplesoft-medium',sans-serif;
			}
			@media (min-width:768px) and (max-width:1024px) {
						h6 {
							font-size:16px;
						}
					}
					@media (min-width:1025px) {
						h6 {
							font-size:18px;
						}
					}
					p {
						margin-bottom:1em;
					}
					strong {
			font-weight:bold;
		}
		.text-center {
			text-align:center;
		}
		textarea:focus,input:focus {
			outline:0;
		}
		hr {
			display:block;
						height:1px;
						border:0;
						border-top:1px solid #e0e8e9;
						margin:0;
						padding:0;
					}

 .clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/* Header menu styles */

#site-nav {a
  padding: 2%;
}

header #site-nav a {
  color: #262626;
  font-size: 16px;
  text-decoration: none;
  font-weight: 300;
  display: block;
}

header #site-nav li.active a {
    color: #262626;
    font-weight: 700;
}

header #site-nav a:hover {
  color: #A6C307;
}
/*
@media screen and (min-width:993px) {
.superhero-dropdown {
	float: left;
	margin-right: 20px;
}
.superhero-dropdown >ul {
	margin: 0;
}
.superhero-dropdown >ul >li {
	margin: 0 10px 0 0;
	padding: 0;
}
.superhero-dropdown ul ul {
	opacity: 0;
	height: 0;
	position: absolute;
	min-width: 260px;
	background: none repeat scroll 0 0 #FFFFFF;
	box-shadow: 0 3px 8px rgba(0,0,0,0.125);
	overflow: hidden;
	margin: 30px 0 0 0;
	padding: 0;
	transition: margin-top .3s, opacity .3s;
	-webkit-transition: margin-top .3s, opacity .3s;
	z-index: 999;
    border-radius: 10px !important;
    border-top: 3px #A6C307 solid;
}
.superhero-dropdown ul ul li {
	list-style: none;
	border-bottom: 1px solid #EEEEEE;
	margin: 0;
	position: relative;
}
.superhero-dropdown ul ul li.last {
	border-bottom: none;
}
.superhero-dropdown ul ul li a {
	line-height: 40px;
	font-size: 12px;
}
.superhero-dropdown ul ul ul {
	top: 0;
	left: 260px;
}
.superhero-dropdown > ul > li {
	display: inline-block;
	position: relative;
}
.superhero-dropdown ul li:hover > ul {
	height: auto;
	opacity: 1;
	margin-top: 0;
	overflow: visible;
}
.superhero-dropdown a {
	display: block;
	padding: 0 20px;
	font-size: 15px;
}
.rtl .superhero-dropdown ul ul ul {
	left: -260px;
}
.main-menu-toggle {
	display: none;
}
.superhero-dropdown .menu-arrow {
	display: none;
}
}*/
ul.menu {
	text-align: start;
}
/*
@media screen and (max-width:992px) {
.superhero-dropdown {
	background: none repeat scroll 0 0 #333333;
	left: 0px;
	position: absolute;
	width: 100%;
	max-height: 0;
	overflow: hidden;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	z-index: 999;
}

    
    
.superhero-dropdown.open {
	margin-top: 20px;
	max-height: 10000px;
}
.superhero-dropdown ul {
	margin: 0;
	padding: 0;
}
.superhero-dropdown ul li {
	list-style: none;
}
.superhero-dropdown ul li.last {
	border-bottom: none;
}
.superhero-dropdown ul li a {
	color: #868686;
	line-height: 38px;
}
.superhero-dropdown ul li a:hover, .superhero-dropdown ul li a.active {
	color: #EA7D0C;
}
.superhero-dropdown ul ul {
	max-height: 0;
	overflow: hidden;
	margin-left: 15px;
	transition: max-height .3s, opacity .3s;
	-webkit-transition: max-height .3s, opacity .3s;
}
.superhero-dropdown ul ul.open {
	max-height: 10000px;
}
.superhero-dropdown ul ul li {
	list-style: none;
	list-style-position: inside;
	white-space: pre;
	position: relative;
}
.superhero-dropdown ul ul li.expanded {
	background: none;
}
.main-menu-toggle {
	background: url(http://www.payulatam.com/colombia/sites/all/modules/superhero_dropdown/images/drill-menu-bg.png) no-repeat scroll center center rgba(0,0,0,0);
	cursor: pointer;
	display: block;
	width: 35px;
	height: 26px;
	float: left;
	margin-right: 30px;
	height: 100px;
}
.superhero-dropdown .menu-arrow {
	background-color: #FFFFFF;
	border-radius: 3px;
	cursor: pointer;
	float: right;
	height: 20px;
	line-height: 20px;
	margin: 10px;
	padding: 0 0 0 10px;
	width: 12px;
	position: absolute;
	right: 10px;
}
}
 */   
	/*
@media screen and (min-width:980px) {
.superhero-dropdown > ul ul li:hover {
	background: #f5f5f5;
}
.superhero-dropdown > ul ul li.last:hover {
    border-radius: 0px 0px 10px 10px;
}
}
*/
/*
@media screen and (max-width:992px) {
.superhero-dropdown ul, .superhero-dropdown ul li {
	margin: 0;
	padding: 0;
}
.superhero-dropdown {
	left: 0px;
	position: absolute;
	width: 100%;
	max-height: 0;
	overflow: hidden;
	z-index: 999;
}
.superhero-dropdown.open {
	max-height: 10000px;
}
.superhero-dropdown ul {
	margin: 0;
	padding: 0;
}
.superhero-dropdown ul li {
	list-style: none;
	position: relative;
}
.superhero-dropdown ul li.last {
	border-bottom: none;
}
.superhero-dropdown ul li a {
	display: inline-block;
	line-height: 40px!important;
	padding: 0 10px;
	color: #ccc !important;
}
.superhero-dropdown ul li a:hover, .superhero-dropdown ul li a.active {
	color: #fff !important;
}
.superhero-dropdown ul ul {
	max-height: 0;
	overflow: hidden;
	margin: 0 15px;
	transition: max-height .3s, opacity .3s;
	-webkit-transition: max-height .3s, opacity .3s;
}
.superhero-dropdown ul ul.open {
	max-height: 10000px;
}
.superhero-dropdown ul ul li.expanded {
	background: none;
}
.main-menu-toggle {
	cursor: pointer;
	display: block;
	width: 35px;
	height: 26px;
	float: left;
	margin-right: 30px;
	height: 100px;
}
.superhero-dropdown .menu-arrow {
	background-color: #FFFFFF;
	border-radius: 3px;
	cursor: pointer;
	top: 10px;
	padding: 0 5px;
	width: 20px;
	position: absolute;
	text-align: center;
	right: 10px;
}
.superhero-dropdown > ul ul li:hover {
	background: none !important;
}

.superhero-dropdown > ul.menu > li.expanded > a:after {
	content: "\f107";
	font-family: FontAwesome;
	font-size: 13px;
	margin-left: 5px;
}

.superhero-dropdown {
	font-family: 'alwyn_new_rgregular';
	float: left;
	margin: 0px;
}
.superhero-dropdown > ul.menu > li {
	display: block;
	margin: 0;
	padding: 0;
	position: relative;
	-webkit-transition: all 200ms ease 0s;
	-moz-transition: all 200ms ease 0s;
	-o-transition: all 200ms ease 0s;
	transition: all 200ms ease 0s;
}
.superhero-dropdown > ul.menu > li:hover {
	color: #009cdd;
}
.superhero-dropdown > ul.menu > li:after {
	content: "";
	-moz-box-shadow: 0px 0px 15px 0px #6ecdf5;
	-webkit-box-shadow: 0px 0px 15px 0px #6ecdf5;
	box-shadow: 0px 0px 15px 0px #6ecdf5;
	border-left: 1px solid #b0ddf2;
	position: absolute;
	bottom: 38%;
	left: 0;
	height: 24%;
	width: 1px;
}
.superhero-dropdown > ul.menu > li.expanded > a:after {
    content: "\f107";
	font-family: FontAwesome;
	font-size: 22px;
	margin-left: 5px;
    font-weight: 800;
}
 }   
 */
.payu-top-menu2 > a.active {
    color: #A6C307 !important;
    font-weight: 700 !important;
}

.payu-top-menu2 > ul.menu li > a.active {
  color: #A6C307 !important;
  font-weight: 700 !important;
}   
    
li a.active {
    color: #262626 !important;
    font-weight: 700 !important;
}
    
/* Content Styles */
h1 i,h2 i,h3 i,h4 i,h5 i,h6 i {
    font-size:70px;
    color:#A6C307;
    position:absolute;
    bottom:-6px;
    padding-left:5px;
}

.grey-bg {
    background: #edf2f2;
    border-top: 1px #dfe3e3 solid;
    padding: 50px 0;
}

.main-text {
    text-align: center;
    padding: 10px 0;
}
    
.sub-text {
    text-align: center;
    color: #797d7e;
    font-family: 'open sans',sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
} 
    
.overview {
    font-size: 20px;
    color: #797d7e;
    line-height: 1.5;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
}
    
.card{
    text-align: center;
    padding: 10px;
}
.image-wrapper {
  border-radius: inherit;
  margin: 30px 0;
}
.card-title{
    font-family: 'open sans',sans-serif;
    font-weight: 700;
    font-size: 26px;    
}
.card p{
    color: #262626;
    text-align: left;
}

} /*
.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active{
	border:1px solid #aaa;
	background:#00AEBA;
	font-weight:normal;
	color:#00AEBA
}

.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active{
border:1px solid #aaa;
background:#00AEBA;
font-weight:normal;
color:#00AEBA;
}*/
