<footer>	
	<div id="footer-contact">
<div class="container">
			<span class="label-info">Any Questions?</span>
						<a href="mailto:info@payu.com" class="button-circle">
				<i class="icon-circle-small icon-email"></i>
    			<span class="button-text">info@payu.com</span></a>
			</a>
								</div>
	</div>
	<div class="container container-links">
	<div id="footer-links">
		<ul class="links"><li class="menu-1279 first"><a href="/about-payu">About Us</a></li>
<li class="menu-1296"><a href="/contact-us">Contact us</a></li>
<li class="menu-1301"><a href="/leadership-team">Leadership Team</a></li>
<li class="menu-1291"><a href="/partners">Partners</a></li>
<li class="menu-1286 last"><a href="/work-with-us">Work with us</a></li>
</ul>		</div>
	<div id="footer-right-nav">
			 			<div class="country-language-selector"> 
               <a href="#" class="link-country js-select-country" data-position="footer"><i class="icon-flag international"></i>International<i class="icon icon-arrow-down"></i></a> 
					<!--<div class="languages"><a href="#" class="link-language selected">PT</a>&nbsp;-&nbsp;<a href="#" class="link-language">EN</a></div>-->
			</div>
			<div class="social">
				<div class="view view-awards view-id-awards view-display-id-block_1 view-dom-id-0f35ea7fc81c37c3fa199ed0a86a7c80">
        
  
  
      <div class="view-content">
        <div>
      
          <div></div>
<a href="https://www.linkedin.com/company/payu" target="_blank"><i class="icon icon-linkedin"></i></a>
    </div>
    </div>
  
  
  
  
  
  
</div>			</div>
		</div>
	</div>


	</section>
</footer>