<section  id="section-bottom" class="section section-bottom" style="margin:0px !important;padding:0px !important;">
<div class="container">
	<div class="row">
		<div class="region region-bottom-first col-xs-12 col-sm-12 col-md-10 col-lg-10">
			<div id="block-menu-menu-pie-de-pagina" class="block block-menu menuBottom">
				<div class="content">
					<ul class="menu">
						<li class="first leaf"><a href="http://www.payulatam.com/" target="_blank">PayU Latam</a></li>
						<li class="leaf"><a href="https://payulatam.zendesk.com/home" title="">Ayuda</a></li>
					</ul>  
				</div>
			</div>
		</div>
		<div class="region region-bottom-second col-xs-12 col-sm-12 col-md-2 col-lg-2">
			<div id="block-block-20" class="block block-block"></div>
		</div>
	</div>
</div>
</section>

<section  id="section-footer" class="section section-footer">
<div class="container">
	<div class="row">
		<div class="region region-footer-first col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div id="block-block-4" class="block block-block">
				<div class="content">
					<p style="font-size:10px;text-transform: uppercase;">acerca de:</p>
					<p><a href="http://www.corporate.payu.com/" class="payu-footer-images payu-group" target="_blank"></a></p>
					<div class="clearfix"></div>
					<p style="font-size:10px;margin:15px 0;"><span style="color:#009CDD;">COPYRIGHT ©</span> COMMUNITY PAYU LATAM</p>
				</div>
			</div>
		</div>
		<div class="region region-footer-second col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div id="block-block-5" class="block block-block">
				<div class="content"><p><span class="payu-footer-images pci-dss-compliant"><br /></span></p></div>
			</div>
		</div>
	</div>
</div>
</section>

<div style="display:none"><div id="data_divisas">.</div></div>