<section  id="section-top-panel" class="section section-top-panel" style="background-color:#424242 !important;">
<div class="container">
	<div class="row">
		<div class="region region-toppanel-first col-sm-6 col-md-6 col-lg-6">
			<div id="block-system-main-menu" class="block block-system menuTop block-menu"></div>
		</div>
		<div class="region region-toppanel-second col-sm-6 col-md-6 col-lg-6">
			<div id="block-block-19" class="block block-block">
				<div class="content">
					<div class="payu-top-menu2 pull-right">
	<ul class="menu">
		<!--<li class="first leaf">
			<a href="#" title=""><i class="fa fa-search"></i>BUSCAR</a>
			<ul class="menu"><li class="first leaf">
			<div class="payu-login">
			<form role="search" method="get" id="searchform" class="searchform" action="http://desarrolladores.payulatam.com/">
				<div>
					<input type="text" value="" name="s" id="s" />&nbsp;<br><br>
					<button type="submit" class="payu-btn payu-btn-blue">Buscar</button>
				</div>
			</form>
			</div>
			</li></ul>
		</li>-->
			<li class="leaf">            <a href="{{ site.baseurl }}/es" title="">ES</a></li>
			<li class="leaf left-border"><a href="{{ site.baseurl }}/en" title="">EN</a></li>
			<li class="leaf left-border"><a href="{{ site.baseurl }}/pt" title="">PT</a></li>
	</ul>
</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section>

<section  id="section-header" class="section section-header">
<div class="container">
	<div class="row">
		<div class="region region-logo col-md-4 col-lg-4">
			<div class="site-logo clearfix"><a href="http://desarrolladores.payulatam.com" rel="home" class="active"><img src="{{ site.baseurl }}/images/logo.png" id="logo"/></a></div>
		</div>

		<div id="block-superhero-dropdown-superhero-dropdown-block1" class="block block-superhero-dropdown">
			<div class="content">
				<div class="superhero-dropdown">
					<ul class="menu">
						<li class="first leaf"><a href="http://desarrolladores.payulatam.com/" title="" class="active">Inicio</a></li>
						<li class="expanded"><a href="#" title="">API</a>
							<ul class="menu">
								<li class="first leaf"><a href="{{ site.baseurl }}/es/api" title="">Introducción</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/api/queries.html" title="">Consultas</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/api/payments.html" title="">Pagos</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/api/tokenization.html" title="">Tokenización</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/api/recurring_payments.html" title="">Pagos recurrentes</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/api/refunds.html" title="">Reembolsos</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/api/sandbox.html" title="">Pruebas con la API</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/api/variables_table.html" title="">Tablas de variables</a></li>
								<li class="last"><a href="{{ site.baseurl }}/es/api/considerations.html" title="">Consideraciones de variables</a></li>
								<li class="last leaf"><a href="{{ site.baseurl }}/es/api/javascript.html" title="">Javascript de tokenización</a>
</li>
							</ul>
						</li>
<li class="expanded"><a href="#" title="">SDK</a>
							<ul class="menu">
								<li class="first leaf"><a href="{{ site.baseurl }}/es/sdk" title="">Introducción</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/sdk/queries.html" title="">Consultas</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/sdk/payments.html" title="">Pagos</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/sdk/tokenization.html" title="">Tokenización</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/sdk/recurring_payments.html" title="">Pagos recurrentes</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/api/refunds.html" title="">Reembolsos</a></li>
								<li class="last leaf"><a href="{{ site.baseurl }}/es/api/sandbox.html" title="">Pruebas con SDK</a></li>
							</ul>
						</li>
						<li class="expanded"><a href="#" title="">WebCheckout</a>
							<ul class="menu">
								<li class="first leaf"><a href="{{ site.baseurl }}/es/web_checkout/" title="">Introducción</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/web_checkout/integration.html" title="">Integración</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/web_checkout/sandbox.html" title="">Pruebas (Sandbox)</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/web_checkout/considerations.html" title="">Consideraciones por país</a></li>
								<li class="last leaf"><a href="{{ site.baseurl }}/es/web_checkout/variables.html" title="">Tablas de variables</a></li>
							</ul>
						</li>							
						<li class="expanded"><a href="#" title="">Soluciones adicionales</a>
							<ul class="menu">
<li class="first leaf"><a href="http://desarrolladores.payulatam.com/soluciones-adicionales" title="">Introducción</a></li>
								<li class="leaf"><a href="http://desarrolladores.payulatam.com/solicitudes-de-pago" title="">Solicitudes de pago</a></li>
								<li class="leaf"><a href="http://desarrolladores.payulatam.com/boton-de-pagos" title="">Botón de pagos</a></li>
								<li class="leaf"><a href="http://desarrolladores.payulatam.com/carritos-de-compra" title="">Carritos de compra</a></li>
								<li class="leaf"><a href="http://desarrolladores.payulatam.com/terminal-virtual" title="">Terminal virtual</a></li>
                                                            <li class="leaf"><a href="http://desarrolladores.payulatam.com/soluciones-adicionales-cobros-en-efectivo/" title="">Cupones de pago</a></li>
                                                                <li class="leaf"><a href="http://desarrolladores.payulatam.com/modulo-administrativo" title="">Módulo Administrativo</a></li>
                                                                <li class="leaf"><a href="http://desarrolladores.payulatam.com/soluciones-adicionales-tokenizacion" title="">Tokenización</a></li>
                                                               <li class="leaf"><a href="http://desarrolladores.payulatam.com/soluciones-adicionales-pagos-recurrentes/" title="">Pagos recurrentes</a></li>
<li class="leaf"><a href="http://desarrolladores.payulatam.com/dineromail-by-payu/" title="">DineroMail by PayU</a></li>
								<li class="last leaf"><a href="http://status.payulatam.com" target="_blank" title="">Estado de nuestros servicios</a></li>
							</ul>
						</li>
						<li class="last leaf"><a href="#" onClick='redireccionarForo()'>Foros</a></li>
                                                <li class="last leaf"><a href="http://desarrolladores.payulatam.com/blog/">Blog</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
