<header>
<div class="container">
   <!--<div class="content">
   <div class="region region-logo">-->
			<div class="clearfix col-md-3"><a href="{{ site.baseurl }}/pt" rel="home" class="active">
                <img src="/images/logo-developers.png" id="logo"></a> </div>
		<!--</div>-->
		<div id="site-nav">
			
				<div class="superhero-dropdown">
					<ul class="menu">
						<li class="expanded"><a {% if page.category == "api" %} {{ "class='active'" }} {% endif %} href="#" title="">API</a>
							<ul class="menu">
								<li class="first leaf"><a href="{{ site.baseurl }}/pt/api" title="">Introdução</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/pt/api/queries.html" title="">Consultas</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/pt/api/payments.html" title="">Pagamentos</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/pt/api/tokenization.html" title="">Tokenização</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/pt/api/recurring_payments.html" title="">Pagamentos recorrentes</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/pt/api/refunds.html" title="">Reembolsos</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/pt/api/sandbox.html" title="">Testes com API</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/pt/api/variables_table.html" title="">Tabelas de variáveis</a></li>
								<li class="last"><a href="{{ site.baseurl }}/pt/api/considerations.html" title="">Considerações de variáveis</a></li>
								<li class="last leaf"><a href="{{ site.baseurl }}/pt/api/javascript.html" title="">JavaScript de Tokenização</a>
</li>
							</ul>
						</li>
					<li class="expanded"><a {% if page.category == "sdk" %} {{ "class='active'" }} {% endif %} href="#" title="">SDK</a>
							<ul class="menu">
								<li class="first leaf"><a href="{{ site.baseurl }}/pt/sdk" title="">Introdução</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/pt/sdk/queries.html" title="">Consultas</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/pt/sdk/payments.html" title="">Pagamentos</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/pt/sdk/tokenization.html" title="">Tokenização</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/pt/sdk/recurring_payments.html" title="">Pagamentos recorrentes</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/pt/sdk/refunds.html" title="">Reembolsos</a></li>
								<li class="last leaf"><a href="{{ site.baseurl }}/pt/sdk/sandbox.html" title="">Testes com SDK</a></li>
							</ul>
						</li>
						<li class="expanded"><a {% if page.category == "web_checkout" %} {{ "class='active'" }} {% endif %} href="#" title="">WebCheckout</a>
							<ul class="menu">
								<li class="first leaf"><a href="{{ site.baseurl }}/pt/web_checkout/" title="">Introdução</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/pt/web_checkout/integration.html" title="">Integração</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/pt/web_checkout/sandbox.html" title="">Testes (Sandbox)</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/pt/web_checkout/considerations.html" title="">Considerações</a></li>
								<li class="last leaf"><a href="{{ site.baseurl }}/pt/web_checkout/variables.html" title="">Tabelas de variáveis</a></li>
							</ul>
						</li>							
						<li class="expanded"><a {% if page.category == "solutions" %} {{ "class='active'" }} {% endif %} href="#" title="">Soluções adicionais</a>
							<ul class="menu">
								<li class="first leaf"><a href="{{ site.baseurl }}/pt/solutions/" title="">Introdução</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/pt/solutions/payment_request.html" title="">Solicitações de pagamento</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/pt/solutions/payment_button.html" title="">Botão de pagamento</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/pt/solutions/shopping_carts.html" title="">Carrinhos de compra</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/pt/solutions/virtual_terminal.html" title="">Terminal virtual</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/pt/solutions/payment_coupons.html" title="">Cupons de pagamento</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/pt/administrative_module/" title="">Modulo administrativo</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/pt/solutions/tokenization.html" title="">Tokenização</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/pt/solutions/recurring_payments.html" title="">Pagamentos recorrentes</a></li>
								<li class="last leaf"><a href="http://status.payulatam.com" target="_blank" title="">Estado de nossos serviços</a></li>
							</ul>
						</li>
						<li class="expanded"><a {% if page.category == "help" %} {{ "class='active'" }} {% endif %} href="#" title="">Ajuda</a>
							<ul class="menu">
								<li class="first leaf"><a href="{{ site.baseurl }}/pt/foros" title="">Fóruns (es)</a></li>
								<li class="last leaf"><a href="{{ site.baseurl }}/pt/foros/support.html" title="">Suporte (es)</a></li>
							</ul>
						</li>
						
						
						
                        <!--<li class="last leaf"><a href="http://desarrolladores.payulatam.com/blog/">Blog</a></li>-->
					</ul>
				</div>
                					<div class="payu-top-menu2 pull-right">
	<ul class="menu">
		<!--<li class="first leaf">
			<a href="#" title=""><i class="fa fa-search"></i>BUSCAR</a>
			<ul class="menu"><li class="first leaf">
			<div class="payu-login">
			<form role="search" method="get" id="searchform" class="searchform" action="http://desarrolladores.payulatam.com/">
				<div>
					<input type="text" value="" name="s" id="s" />&nbsp;<br><br>
					<button type="submit" class="payu-btn payu-btn-blue">Buscar</button>
				</div>
			</form>
			</div>
			</li></ul>
		</li>-->
			<li class="leaf">            <a href="{{ site.baseurl }}/es/{{ url }}" title="">ES</a></li>
			<li class="leaf left-border"><a href="{{ site.baseurl }}/en/{{ url }}" title="">EN</a></li>
			<li class="leaf left-border"><a class="active" href="{{ site.baseurl }}/pt/{{ url }}" title="">PT</a></li>
	</ul>
</div>
			</div>
		</div>
</div>
</header>
