<header>
<div class="container">
   <!--<div class="content">
   <div class="region region-logo">-->
			<div class="clearfix col-md-3"><a href="{{ site.baseurl }}/en" rel="home" class="active">
                <img src="/images/logo-developers.png" id="logo"></a> </div>
		<!--</div>-->
		<div id="site-nav">
			
				<div class="superhero-dropdown">
					<ul class="menu">
						<li class="expanded"><a {% if page.category == "api" %} {{ "class='active'" }} {% endif %} href="#" title="">API</a>
							<ul class="menu">
								<li class="first leaf"><a href="{{ site.baseurl }}/en/api" title="">Introduction</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/en/api/queries.html" title="">Querys</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/en/api/payments.html" title="">Payments</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/en/api/tokenization.html" title="">Tokenization</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/en/api/recurring_payments.html" title="">Recurring payments</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/en/api/refunds.html" title="">Refunds</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/en/api/sandbox.html" title="">Tests with API</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/en/api/variables_table.html" title="">Table of variables</a></li>
								<li class="last"><a href="{{ site.baseurl }}/en/api/considerations.html" title="">Considerations</a></li>
								<li class="last leaf"><a href="{{ site.baseurl }}/en/api/javascript.html" title="">Tokenization javascript</a>
</li>
							</ul>
						</li>
						<li class="expanded"><a {% if page.category == "sdk" %} {{ "class='active'" }} {% endif %} href="#" title="">SDK</a>
							<ul class="menu">
								<li class="first leaf"><a href="{{ site.baseurl }}/en/sdk" title="">Introduction</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/en/sdk/queries.html" title="">Querys</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/en/sdk/payments.html" title="">Payments</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/en/sdk/tokenization.html" title="">Tokenization</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/en/sdk/recurring_payments.html" title="">Recurring payments</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/en/sdk/refunds.html" title="">Refunds</a></li>
								<li class="last leaf"><a href="{{ site.baseurl }}/en/sdk/sandbox.html" title="">Tests with API</a></li>
							</ul>
						</li>
						<li class="expanded"><a {% if page.category == "web_checkout" %} {{ "class='active'" }} {% endif %} href="#" title="">WebCheckout</a>
							<ul class="menu">
								<li class="first leaf"><a href="{{ site.baseurl }}/en/web_checkout/" title="">Introduction</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/en/web_checkout/integration.html" title="">Integration</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/en/web_checkout/sandbox.html" title="">Sandbox</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/en/web_checkout/considerations.html" title="">Considerations</a></li>
								<li class="last leaf"><a href="{{ site.baseurl }}/en/web_checkout/variables.html" title="">Table of variables</a></li>
							</ul>
						</li>							
						<li class="expanded"><a {% if page.category == "solutions" %} {{ "class='active'" }} {% endif %} href="#" title="">Additional solutions</a>
							<ul class="menu">
								<li class="first leaf"><a href="{{ site.baseurl }}/en/solutions/" title="">Introduction</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/en/solutions/payment_request.html" title="">Payment request</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/en/solutions/payment_button.html" title="">Payment button</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/en/solutions/shopping_carts.html" title="">Shop carts</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/en/solutions/virtual_terminal.html" title="">Virtual Terminal</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/en/solutions/payment_coupons.html" title="">Payment coupons</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/en/administrative_module/" title="">Administrative module</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/en/solutions/tokenization.html" title="">Tokenization</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/en/solutions/recurring_payments.html" title="">Recurring payments</a></li>
								<li class="last leaf"><a href="http://status.payulatam.com" target="_blank" title="">Server status</a></li>
							</ul>
						</li>
						<li class="last leaf"><a href="{{ site.baseurl }}/es/foros" >Forums (es)</a></li>
                        <!--<li class="last leaf"><a href="http://desarrolladores.payulatam.com/blog/">Blog</a></li>-->
					</ul>
				</div>
                					<div class="payu-top-menu2 pull-right">
	<ul class="menu">
		<!--<li class="first leaf">
			<a href="#" title=""><i class="fa fa-search"></i>BUSCAR</a>
			<ul class="menu"><li class="first leaf">
			<div class="payu-login">
			<form role="search" method="get" id="searchform" class="searchform" action="http://desarrolladores.payulatam.com/">
				<div>
					<input type="text" value="" name="s" id="s" />&nbsp;<br><br>
					<button type="submit" class="payu-btn payu-btn-blue">Buscar</button>
				</div>
			</form>
			</div>
			</li></ul>
		</li>-->
			<li class="leaf">            <a href="{{ site.baseurl }}/es/{{ url }}" title="">ES</a></li>
			<li class="leaf left-border"><a class="active" href="{{ site.baseurl }}/en/{{ url }}" title="">EN</a></li>
			<li class="leaf left-border"><a href="{{ site.baseurl }}/pt/{{ url }}" title="">PT</a></li>
	</ul>
</div>
			</div>
		</div>
</div>
</header>
