<header >
<div class="container">
   <!--<div class="content">
   <div class="region region-logo">-->
			<div class="clearfix col-md-3"><a href="{{ site.baseurl }}/es" rel="home" class="active">
                <img src="/images/logo-developers.png" id="logo"></a> </div>
		<!--</div>-->
		<div id="site-nav">
			
				<div class="superhero-dropdown">
					<ul class="menu">
						<li class="expanded"><a {% if page.category == "api" %} {{ "class='active'" }} {% endif %} href="#" title="">API</a>
							<ul class="menu" >
								<li class="first leaf"><a href="{{ site.baseurl }}/es/api" title="">Introducción</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/api/queries.html" title="">Consultas</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/api/payments.html" title="">Pagos</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/api/tokenization.html" title="">Tokenización</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/api/recurring_payments.html" title="">Pagos recurrentes</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/api/refunds.html" title="">Reembolsos</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/api/sandbox.html" title="">Pruebas con la API</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/api/variables_table.html" title="">Tablas de variables</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/api/considerations.html" title="">Consideraciones de variables</a></li>
								<li class="last leaf"><a href="{{ site.baseurl }}/es/api/javascript.html" title="">Javascript de tokenización</a>
</li>
							</ul>
						</li>
<li class="expanded"><a {% if page.category == "sdk" %} {{ "class='active'" }} {% endif %} href="#" title="">SDK</a>
							<ul class="menu">
								<li class="first leaf"><a href="{{ site.baseurl }}/es/sdk" title="">Introducción</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/sdk/queries.html" title="">Consultas</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/sdk/payments.html" title="">Pagos</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/sdk/tokenization.html" title="">Tokenización</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/sdk/recurring_payments.html" title="">Pagos recurrentes</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/sdk/refunds.html" title="">Reembolsos</a></li>
								<li class="last leaf"><a href="{{ site.baseurl }}/es/sdk/sandbox.html" title="">Pruebas con SDK</a></li>
							</ul>
						</li>
						<li class="expanded"><a {% if page.category == "web_checkout" %} {{ "class='active'" }} {% endif %} href="#" title="">WebCheckout</a>
							<ul class="menu">
								<li class="first leaf"><a href="{{ site.baseurl }}/es/web_checkout/" title="">Introducción</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/web_checkout/integration.html" title="">Integración</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/web_checkout/sandbox.html" title="">Pruebas (Sandbox)</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/web_checkout/considerations.html" title="">Consideraciones por país</a></li>
								<li class="last leaf"><a href="{{ site.baseurl }}/es/web_checkout/variables.html" title="">Tablas de variables</a></li>
							</ul>
						</li>							
						<li class="expanded"><a {% if page.category == "solutions" %} {{ "class='active'" }} {% endif %} href="#" title="">Soluciones adicionales</a>
							<ul class="menu">
								<li class="first leaf"><a href="{{ site.baseurl }}/es/solutions/" title="">Introducción</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/solutions/payment_request.html" title="">Solicitudes de pago</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/solutions/payment_button.html" title="">Botón de pagos</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/solutions/shopping_carts.html" title="">Carritos de compra</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/solutions/virtual_terminal.html" title="">Terminal virtual</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/solutions/payment_coupons.html" title="">Cupones de pago</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/administrative_module/" title="">Módulo Administrativo</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/solutions/tokenization.html" title="">Tokenización</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/solutions/recurring_payments.html" title="">Pagos recurrentes</a></li>
								<li class="leaf"><a href="{{ site.baseurl }}/es/solutions/dineromail.html" title="">DineroMail by PayU</a></li>
								<li class="last leaf"><a href="http://status.payulatam.com" target="_blank" title="">Estado de nuestros servicios</a></li>
							</ul>
						</li>
						<li class="last leaf"><a href="#" onClick='redireccionarForo()'>Foros</a></li>
                        <!--<li class="last leaf"><a href="http://desarrolladores.payulatam.com/blog/">Blog</a></li>-->
					</ul>
				</div>
                					<div class="payu-top-menu2 pull-right">
	<ul class="menu">
		<!--<li class="first leaf">
			<a href="#" title=""><i class="fa fa-search"></i>BUSCAR</a>
			<ul class="menu"><li class="first leaf">
			<div class="payu-login">
			<form role="search" method="get" id="searchform" class="searchform" action="http://desarrolladores.payulatam.com/">
				<div>
					<input type="text" value="" name="s" id="s" />&nbsp;<br><br>
					<button type="submit" class="payu-btn payu-btn-blue">Buscar</button>
				</div>
			</form>
			</div>
			</li></ul>
		</li>-->
		
			<li class="leaf" >           <a class="active" href="{{ site.baseurl }}/es/{{ url }}" title="">ES</a></li>
			<li class="leaf left-border"><a href="{{ site.baseurl }}/en/{{ url }}" title="">EN</a></li>
			<li class="leaf left-border"><a href="{{ site.baseurl }}/pt/{{ url }}" title="">PT</a></li>
	</ul>
</div>
			</div>
		</div>
</div>
</header>
