<head profile="http://www.w3.org/1999/xhtml/vocab">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico?v=2" />

<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>


<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-52718987-1']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52718987-1', 'payulatam.com');
  ga('send', 'pageview');
</script><!-- We need this for debugging -->

<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic|Open+Sans+Condensed:300,300italic,700' type='text/css'>
<link rel='stylesheet' href='{{ site.baseurl }}/css/jquery-ui-1.9.2.custom.min.css?ver=0.3.4' type='text/css' media='' id='jquery-ui-standard-css-css' />
<link rel='stylesheet' href='{{ site.baseurl }}/css/squelch-tabs-and-accordions.css?ver=0.3.4' type='text/css' media='all' id='squelch_taas-css' />
<link rel='stylesheet' href='{{ site.baseurl }}/css/easy-modal-site.css?ver=0.1' type='text/css' media='all' id='easy-modal-site-css'  />
<link rel='stylesheet' href='{{ site.baseurl }}/css/jquery.fancybox.css' type='text/css' />
<link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css" type="text/css" media="all" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" type="text/css" media="all" />
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">-->
<!--<link rel='stylesheet' href='{{ site.baseurl }}/css/bootstrap.min.css' type='text/css' />-->


<script type='text/javascript' src='{{ site.baseurl }}/js/jquery.js?ver=1.11.0'></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/once.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/SmoothScroll.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/Bootstrap.js"></script>
<script type='text/javascript' src='{{ site.baseurl }}/js/jquery.ui.core.min.js?ver=1.10.4'></script>
<script type='text/javascript' src='{{ site.baseurl }}/js/jquery.ui.widget.min.js?ver=1.10.4'></script>
<script type='text/javascript' src='{{ site.baseurl }}/js/jquery.ui.accordion.min.js?ver=1.10.4'></script>
<script type='text/javascript' src='{{ site.baseurl }}/js/jquery.ui.tabs.min.js?ver=1.10.4'></script>
<script type='text/javascript' src='{{ site.baseurl }}/js/jquery-migrate.min.js?ver=1.2.1'></script>
<script type='text/javascript' src='{{ site.baseurl }}/js/jquery.fancybox.pack.js'></script>
<script type='text/javascript' src='{{ site.baseurl }}/js/squelch-tabs-and-accordions.js?ver=0.3.4'></script>


<script type="text/javascript">

jQuery(document).ready(function() {
	jQuery("a#inline").fancybox();
});

</script>



<script type="text/javascript">
function redireccionarForo() {
if (navigator.userAgent.indexOf('Firefox') !=-1 || navigator.userAgent.indexOf('MSIE') !=-1 ){
window.open("https://groups.google.com/forum/embed/?place=forum/desarrolladores-payu-latam#!forum/desarrolladores-payu-latam");
}else{
window.location="{{ site.baseurl }}/es/foro";
}
}
</script>

</head>