<div id="page-menu-column1">
<div class="sidemenu-title">Módulo Administrativo</div>

<div class="lateral-menu intro {% if page.subcategory == "intro" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/es/administrative_module/'">Introducción</div>
<div class="lateral-menu check {% if page.subcategory == "activation" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/es/administrative_module/account_activation.html'">Activar cuenta</div>
<div class="lateral-menu money {% if page.subcategory == "balance" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/es/administrative_module/balance.html'">Consultar saldos</div>
<div class="lateral-menu transfer {% if page.subcategory == "transfers" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/es/administrative_module/transfers.html'">Transferencias</div>
<div class="lateral-menu stats {% if page.subcategory == "reports" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/es/administrative_module/reports.html'">Reportes</div>
<div class="lateral-menu data {% if page.subcategory == "update" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/es/administrative_module/data_update.html'">Actualizar mis datos</div>
<div class="lateral-menu gear {% if page.subcategory == "config" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/es/administrative_module/configuration.html'">Configurar integración</div>
</div>