<div id="page-menu-column1">
<div class="sidemenu-title">Manual integración SDK</div>

<div class="lateral-menu pagos {% if page.subcategory == "payments" %}{{ "active-lateral-menu" }} {% endif %}"     onclick="location.href='{{ site.baseurl }}/es/sdk/payments.html'">Pagos</div>
<div class="lateral-menu consultas {% if page.subcategory == "queries" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/es/sdk/queries.html'">Consultas</div>
<div class="lateral-menu tokenizacion {% if page.subcategory == "tokenization" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/es/sdk/tokenization.html'">Tokenización</div>
<div class="lateral-menu recurring {% if page.subcategory == "recurring" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/es/sdk/recurring_payments.html'">Pagos recurrentes</div>
<div class="lateral-menu cancel {% if page.subcategory == "refunds" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/es/sdk/refunds.html'">Reembolsos</div>
<div class="lateral-menu pruebas {% if page.subcategory == "sandbox" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/es/sdk/sandbox.html'">Pruebas con SDK</div>
</div>