<div id="page-menu-column1">
&nbsp;<br>
<div id="home-one-column">
<p align="center" class="blue-text-13"><b>Webcheckout Integration</b>
</div>

<div class="lateral-menu pagos" onclick="location.href='{{ site.baseurl }}/en/web_checkout/integration.html'">Integration</div>
<div class="lateral-menu pruebas" onclick="location.href='{{ site.baseurl }}/en/web_checkout/sandbox.html'">Tests (Sandbox)</div>
<div class="lateral-menu consultas" onclick="location.href='{{ site.baseurl }}/en/web_checkout/considerations.html'">Considerations by country</div>
<div class="lateral-menu tablas" onclick="location.href='{{ site.baseurl }}/en/web_checkout/variables.html'">Tables of variables</div>
</div>