
<div id="page-menu-column1">
&nbsp;<br>
<div id="home-one-column">
<p align="center" class="blue-text-13"><b>Manual integración API</b>
</div>

<div class="lateral-menu pagos" onclick="location.href='http://desarrolladores.payulatam.com/api-pagos/'">Pagos</div>
<div class="lateral-menu consultas" onclick="location.href='http://desarrolladores.payulatam.com/api-consultas/'">Consultas</div>
<div class="lateral-menu tokenizacion" onclick="location.href='http://desarrolladores.payulatam.com/api-tokenizacion/'">Tokenización</div>
<div class="lateral-menu recurring" onclick="location.href='http://desarrolladores.payulatam.com/api-pagos-recurrentes/'">Pagos recurrentes</div>
<div class="lateral-menu cancel" onclick="location.href='http://desarrolladores.payulatam.com/api-modulo-de-cancelaciones/'">Reembolsos</div>
<div class="lateral-menu pruebas" onclick="location.href='http://desarrolladores.payulatam.com/api-pruebas-pago/'">Pruebas con la API</div>
<div class="lateral-menu tablas" onclick="location.href='http://desarrolladores.payulatam.com/api-tablas-variables/'">Tablas de variables</div>
<div class="lateral-menu info" onclick="location.href='http://desarrolladores.payulatam.com/api-consideraciones-sobre-las-variables/'">Consideraciones</div>
</div>