<div id="page-menu-column1">
&nbsp;<br>
<div id="home-one-column">
<p align="center" class="blue-text-13"><b>Integración Webcheckout</b>
</div>

<div class="lateral-menu pagos" onclick="location.href='{{ site.baseurl }}/es/web_checkout/integration.html'">Integración</div>
<div class="lateral-menu pruebas" onclick="location.href='{{ site.baseurl }}/es/web_checkout/sandbox.html'">Pruebas (Sandbox)</div>
<div class="lateral-menu consultas" onclick="location.href='{{ site.baseurl }}/es/web_checkout/considerations.html'">Consideraciones por país</div>
<div class="lateral-menu tablas" onclick="location.href='{{ site.baseurl }}/es/web_checkout/variables.html'">Tablas de variables</div>
</div>