<div id="page-menu-column1">
<div class="sidemenu-title">Manual integración SDK</div>

<div class="lateral-menu pagos"     onclick="location.href='{{ site.baseurl }}/es/sdk/payments.html'">Pagos</div>
<div class="lateral-menu consultas" onclick="location.href='{{ site.baseurl }}/es/sdk/queries.html'">Consultas</div>
<div class="lateral-menu tokenizacion" onclick="location.href='{{ site.baseurl }}/es/sdk/tokenization.html'">Tokenización</div>
<div class="lateral-menu recurring" onclick="location.href='{{ site.baseurl }}/es/sdk/recurring_payments.html'">Pagos recurrentes</div>
<div class="lateral-menu cancel" onclick="location.href='{{ site.baseurl }}/es/sdk/refunds.html'">Reembolsos</div>
<div class="lateral-menu pruebas" onclick="location.href='{{ site.baseurl }}/es/sdk/sandbox.html'">Pruebas con SDK</div>
</div>