<div id="page-menu-column1">
<div class="sidemenu-title">Integración Webcheckout</div>

<div class="lateral-menu pagos" onclick="location.href='{{ site.baseurl }}/es/web_checkout/integration.html'">Integración</div>
<div class="lateral-menu pruebas" onclick="location.href='{{ site.baseurl }}/es/web_checkout/sandbox.html'">Pruebas (Sandbox)</div>
<div class="lateral-menu country" onclick="location.href='{{ site.baseurl }}/es/web_checkout/considerations.html'">Consideraciones por país</div>
<div class="lateral-menu tablas" onclick="location.href='{{ site.baseurl }}/es/web_checkout/variables.html'">Tablas de variables</div>
</div>