
<div id="page-menu-column1">
<div class="sidemenu-title">API integration manual</div>

<div class="lateral-menu pagos" onclick="location.href='{{ site.baseurl }}/en/api/payments.html'">Payments</div>
<div class="lateral-menu consultas" onclick="location.href='{{ site.baseurl }}/en/api/queries.html'">Queries</div>
<div class="lateral-menu tokenizacion" onclick="location.href='{{ site.baseurl }}/en/api/tokenization.html'">Tokenization</div>
<div class="lateral-menu recurring" onclick="location.href='{{ site.baseurl }}/en/api/recurring_payments.html'">Recurring payments</div>
<div class="lateral-menu cancel" onclick="location.href='{{ site.baseurl }}/en/api/refunds.html'">Refunds</div>
<div class="lateral-menu pruebas" onclick="location.href='{{ site.baseurl }}/en/api/sandbox.html'">Test with API</div>
<div class="lateral-menu tablas" onclick="location.href='{{ site.baseurl }}/en/api/variables_table.html'">Table of variables</div>
<div class="lateral-menu info" onclick="location.href='{{ site.baseurl }}/en/api/considerations.html'">Considerations</div>
</div>