<div id="page-menu-column1">
&nbsp;<br>
<div id="home-one-column">
<p align="center" class="blue-text-13"><b>Manual integração SDK</b>
</div>

<div class="lateral-menu pagos"     onclick="location.href='{{ site.baseurl }}/pt/sdk/payments.html'">Pagamentos</div>
<div class="lateral-menu consultas" onclick="location.href='{{ site.baseurl }}/pt/sdk/queries.html'">Consultas</div>
<div class="lateral-menu tokenizacion" onclick="location.href='{{ site.baseurl }}/pt/sdk/tokenization.html'">Tokenização</div>
<div class="lateral-menu recurring" onclick="location.href='{{ site.baseurl }}/pt/sdk/recurring_payments.html'">Pagamentos recorrentes</div>
<div class="lateral-menu cancel" onclick="location.href='{{ site.baseurl }}/pt/sdk/refunds.html'">Reembolsos</div>
<div class="lateral-menu pruebas" onclick="location.href='{{ site.baseurl }}/pt/sdk/sandbox.html'">Testes com SDK</div>
</div>