
<div id="page-menu-column1">
<div class="sidemenu-title">Manual Integração API</div>

<div class="lateral-menu pagos {% if page.subcategory == "payments" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/pt/api/payments.html'">Pagamentos</div>
<div class="lateral-menu consultas {% if page.subcategory == "queries" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/pt/api/queries.html'">Consultas</div>
<div class="lateral-menu tokenizacion {% if page.subcategory == "tokenization" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/pt/api/tokenization.html'">Tokenização</div>
<div class="lateral-menu recurring {% if page.subcategory == "recurring" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/pt/api/recurring_payments.html'">Pagamentos recorrentes</div>
<div class="lateral-menu cancel {% if page.subcategory == "refunds" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/pt/api/refunds.html'">Reembolsos</div>
<div class="lateral-menu pruebas {% if page.subcategory == "sandbox" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/pt/api/sandbox.html'">Testes com a API</div>
<div class="lateral-menu tablas {% if page.subcategory == "tables" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/pt/api/variables_table.html'">Tabelas de variáveis</div>
<div class="lateral-menu info {% if page.subcategory == "considerations" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/pt/api/considerations.html'">Considerações</div>
</div>