
<div id="page-menu-column1">
<div class="sidemenu-title">API integration manual</div>

<div class="lateral-menu pagos {% if page.subcategory == "payments" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/en/api/payments.html'">Payments</div>
<div class="lateral-menu consultas {% if page.subcategory == "queries" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/en/api/queries.html'">Queries</div>
<div class="lateral-menu tokenizacion {% if page.subcategory == "tokenization" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/en/api/tokenization.html'">Tokenization</div>
<div class="lateral-menu recurring {% if page.subcategory == "recurring" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/en/api/recurring_payments.html'">Recurring payments</div>
<div class="lateral-menu pagos {% if page.subcategory == "promotions" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/en/api/promotions.html'">Promotions</div>
<div class="lateral-menu cancel {% if page.subcategory == "refunds" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/en/api/refunds.html'">Refunds</div>
<div class="lateral-menu pruebas {% if page.subcategory == "sandbox" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/en/api/sandbox.html'">Test with API</div>
<div class="lateral-menu tablas {% if page.subcategory == "tables" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/en/api/variables_table.html'">Table of variables</div>
<div class="lateral-menu info {% if page.subcategory == "considerations" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/en/api/considerations.html'">Considerations</div>
</div>