
<div id="page-menu-column1">
&nbsp;<br>
<div id="home-one-column">
<p align="center" class="blue-text-13"><b>Manual integración API</b>
</div>

<div class="lateral-menu pagos" onclick="location.href='{{ site.baseurl }}/es/api/payments.html'">Pagos</div>
<div class="lateral-menu consultas" onclick="location.href='{{ site.baseurl }}/es/api/queries.html'">Consultas</div>
<div class="lateral-menu tokenizacion" onclick="location.href='{{ site.baseurl }}/es/api/tokenization.html'">Tokenización</div>
<div class="lateral-menu recurring" onclick="location.href='{{ site.baseurl }}/es/api/recurring_payments.html'">Pagos recurrentes</div>
<div class="lateral-menu cancel" onclick="location.href='{{ site.baseurl }}/es/api/refunds.html'">Reembolsos</div>
<div class="lateral-menu pruebas" onclick="location.href='{{ site.baseurl }}/es/api/sandbox.html'">Pruebas con la API</div>
<div class="lateral-menu tablas" onclick="location.href='{{ site.baseurl }}/es/api/variables_table.html'">Tablas de variables</div>
<div class="lateral-menu info" onclick="location.href='{{ site.baseurl }}/es/api/considerations.html'">Consideraciones</div>
</div>