<div id="page-menu-column1">
&nbsp;<br>
<div id="home-one-column">
<p align="center" class="blue-text-13"><b>Módulo Administrativo</b>
</div>

<div class="lateral-menu intro" onclick="location.href='{{ site.baseurl }}/pt/administrative_module/'">Introdução</div>
<div class="lateral-menu check" onclick="location.href='{{ site.baseurl }}/pt/administrative_module/account_activation.html'">Ativar conta</div>
<div class="lateral-menu money" onclick="location.href='{{ site.baseurl }}/pt/administrative_module/balance.html'">Consultar saldos</div>
<div class="lateral-menu transfer" onclick="location.href='{{ site.baseurl }}/pt/administrative_module/transfers.html'">Transferências</div>
<div class="lateral-menu stats" onclick="location.href='{{ site.baseurl }}/pt/administrative_module/reports.html'">Reportes</div>
<div class="lateral-menu data" onclick="location.href='{{ site.baseurl }}/pt/administrative_module/data_update.html'">Atualizar meus dados</div>
<div class="lateral-menu gear" onclick="location.href='{{ site.baseurl }}/pt/administrative_module/configuration.html'">Configurar integração</div>
</div>