<div id="page-menu-column1">
<div class="sidemenu-title">Manual integração SDK</div>

<div class="lateral-menu pagos {% if page.subcategory == "payments" %}{{ "active-lateral-menu" }} {% endif %}"     onclick="location.href='{{ site.baseurl }}/pt/sdk/payments.html'">Pagamentos</div>
<div class="lateral-menu consultas {% if page.subcategory == "queries" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/pt/sdk/queries.html'">Consultas</div>
<div class="lateral-menu tokenizacion {% if page.subcategory == "tokenization" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/pt/sdk/tokenization.html'">Tokenização</div>
<div class="lateral-menu recurring {% if page.subcategory == "recurring" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/pt/sdk/recurring_payments.html'">Pagamentos recorrentes</div>
<div class="lateral-menu cancel{% if page.subcategory == "refunds" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/pt/sdk/refunds.html'">Reembolsos</div>
<div class="lateral-menu pruebas {% if page.subcategory == "sandbox" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/pt/sdk/sandbox.html'">Testes com SDK</div>
</div>