<div id="page-menu-column1">
&nbsp;<br>
<div id="home-one-column">
<p align="center" class="blue-text-13"><b>SDK Integration Manual</b>
</div>

<div class="lateral-menu pagos"     onclick="location.href='{{ site.baseurl }}/en/sdk/payments.html'">Payments</div>
<div class="lateral-menu consultas" onclick="location.href='{{ site.baseurl }}/en/sdk/queries.html'">Queries</div>
<div class="lateral-menu tokenizacion" onclick="location.href='{{ site.baseurl }}/en/sdk/tokenization.html'">Tokenization</div>
<div class="lateral-menu recurring" onclick="location.href='{{ site.baseurl }}/en/sdk/recurring_payments.html'">Recurring payments</div>
<div class="lateral-menu cancel" onclick="location.href='{{ site.baseurl }}/en/sdk/refunds.html'">Refunds</div>
<div class="lateral-menu pruebas" onclick="location.href='{{ site.baseurl }}/en/sdk/sandbox.html'">Test with SDK</div>
</div>