<div id="page-menu-column1">
<div class="sidemenu-title">Integração Web Checkout</div>

<div class="lateral-menu pagos" onclick="location.href='{{ site.baseurl }}/pt/web_checkout/integration.html'">Integração</div>
<div class="lateral-menu pruebas" onclick="location.href='{{ site.baseurl }}/pt/web_checkout/sandbox.html'">Testes (Sandbox)</div>
<div class="lateral-menu country" onclick="location.href='{{ site.baseurl }}/pt/web_checkout/considerations.html'">Considerações por país</div>
<div class="lateral-menu tablas" onclick="location.href='{{ site.baseurl }}/pt/web_checkout/variables.html'">Tabelas de variáveis</div>
</div>