
<div id="page-menu-column1">
<div class="sidemenu-title">Manual Integração API</div>

<div class="lateral-menu pagos" onclick="location.href='{{ site.baseurl }}/pt/api/payments.html'">Pagamentos</div>
<div class="lateral-menu consultas" onclick="location.href='{{ site.baseurl }}/pt/api/queries.html'">Consultas</div>
<div class="lateral-menu tokenizacion" onclick="location.href='{{ site.baseurl }}/pt/api/tokenization.html'">Tokenização</div>
<div class="lateral-menu recurring" onclick="location.href='{{ site.baseurl }}/pt/api/recurring_payments.html'">Pagamentos recorrentes</div>
<div class="lateral-menu cancel" onclick="location.href='{{ site.baseurl }}/pt/api/refunds.html'">Reembolsos</div>
<div class="lateral-menu pruebas" onclick="location.href='{{ site.baseurl }}/pt/api/sandbox.html'">Testes com a API</div>
<div class="lateral-menu tablas" onclick="location.href='{{ site.baseurl }}/pt/api/variables_table.html'">Tabelas de variáveis</div>
<div class="lateral-menu info" onclick="location.href='{{ site.baseurl }}/pt/api/considerations.html'">Considerações</div>
</div>