
<div id="page-menu-column1">
<div class="sidemenu-title">Manual integración API </div>
<div class="lateral-menu pagos {% if page.subcategory == "payments" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/es/api/payments.html'">Pagos</div>
<div class="lateral-menu consultas {% if page.subcategory == "queries" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/es/api/queries.html'">Consultas</div>
<div class="lateral-menu tokenizacion {% if page.subcategory == "tokenization" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/es/api/tokenization.html'">Tokenización</div>
<div class="lateral-menu recurring {% if page.subcategory == "recurring" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/es/api/recurring_payments.html'">Pagos recurrentes</div>
<!--<div class="lateral-menu pagos {% if page.subcategory == "promociones" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/es/api/promociones.html'">Promociones</div>-->
<div class="lateral-menu cancel {% if page.subcategory == "refunds" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/es/api/refunds.html'">Reembolsos</div>
<div class="lateral-menu pruebas {% if page.subcategory == "sandbox" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/es/api/sandbox.html'">Pruebas con la API</div>
<div class="lateral-menu tablas {% if page.subcategory == "tables" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/es/api/variables_table.html'">Tablas de variables</div>
<div class="lateral-menu info {% if page.subcategory == "considerations" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/es/api/considerations.html'">Consideraciones</div>
</div>