<div id="page-menu-column1">
<div class="sidemenu-title">Módulo Administrativo</div>

<div class="lateral-menu intro" onclick="location.href='{{ site.baseurl }}/es/administrative_module/'">Introducción</div>
<div class="lateral-menu check" onclick="location.href='{{ site.baseurl }}/es/administrative_module/account_activation.html'">Activar cuenta</div>
<div class="lateral-menu money" onclick="location.href='{{ site.baseurl }}/es/administrative_module/balance.html'">Consultar saldos</div>
<div class="lateral-menu transfer" onclick="location.href='{{ site.baseurl }}/es/administrative_module/transfers.html'">Transferencias</div>
<div class="lateral-menu stats" onclick="location.href='{{ site.baseurl }}/es/administrative_module/reports.html'">Reportes</div>
<div class="lateral-menu data" onclick="location.href='{{ site.baseurl }}/es/administrative_module/data_update.html'">Actualizar mis datos</div>
<div class="lateral-menu gear" onclick="location.href='{{ site.baseurl }}/es/administrative_module/configuration.html'">Configurar integración</div>
</div>