---
title: Pruebas SDK
subcategory: sandbox
---
<div class="payu-page-header superhero-sticky">
<h1 class="payu-title1 bgreen">Integración SDK - pruebas</h1>
<ul class="hidden-xs">
	<li class="leaf"><a class="active" href="#tener-en-cuenta">Para tener en cuenta</a></li>
	<li class="leaf"><a href="#ejemplos">Probando estados</a></li>
	<li class="leaf"><a href="#paso-a-produccion">Paso a producción</a></li>
</ul>
</div>

<div class="sh-container payu-white-bg">
<div class="container">
<div class="row" style="background-color: #f5f5f5;">

{% include sidemenu_sdk.html %}

<div id="page-menu-column2">
<div id="tener-en-cuenta" class="payu-fragment">

&nbsp;<br>
<span class="subtitle-page">Para tener en cuenta</span>
&nbsp;<br>

<span class="grey-text-13">Si deseas realizar pruebas a través de PayU, ya que el ambiente de pruebas no replica los datos de tu cuenta en producción, es importante que utilices las siguientes credenciales en la petición dependiendo del país de tu cuenta:</span>

{% include test_credentials.html %}
		
<span class="grey-text-13">Apuntando a las siguientes URLs:</span>
<div id="blue-box">
<span class="grey-text-13"><b>Java</b>&nbsp;<br>
PayU.paymentsUrl = "https://sandbox.api.payulatam.com/payments-api/";&nbsp;<br>
PayU.reportsUrl = "https://sandbox.api.payulatam.com/reports-api/";&nbsp;<br>

<b>PHP</b>&nbsp;<br>
Environment::setPaymentsCustomUrl("https://sandbox.api.payulatam.com/payments-api/4.0/service.cgi");&nbsp;<br>
Environment::setReportsCustomUrl("https://sandbox.api.payulatam.com/reports-api/4.0/service.cgi");&nbsp;<br>
Environment::setSubscriptionsCustomUrl("https://sandbox.api.payulatam.com/payments-api/rest/v4.3/");&nbsp;<br>
</span>
</div>

<div id="blue-box">
<span class="info-icon">Tener en cuenta:</span>
<ol>
<li class="bullet-box">Es importante que durante la realización de las pruebas no utilices datos de tarjetas de crédito reales, puedes utilizar generadores de tarjetas de crédito.</li>
<li class="bullet-box">Las pruebas pueden realizarse sólo con tarjetas de crédito, los medios de pago como efectivo o trasferencia bancaria no pueden ser probados a través de este método.</li>
<li class="bullet-box">Chile no está soportado en el ambiente de pruebas.</li>
<li class="bullet-box">Chile actualmente está habilitado solo para integración WebCheckout.</li>
</ol>
</div>
</div>

<div id="ejemplos" class="payu-fragment">

&nbsp;<br>
<span class="subtitle-page">Probando estados</span>
&nbsp;<br>

<span class="grey-text-13">En la petición de Autorización o Autorización y captura debes:</span>
<ol>
<li class="bullet-box">Asegurarte de enviar el parámetro <b>prueba</b> en <b>true</b>.
<b>Java</b>: PayU.isTest = true;
<b>PHP</b>: PayU::$isTest = true;</li>
<li class="bullet-box">Ingresar en el nombre del tarjetahabiente el valor <span class="highlight-txt2">APPROVED</span> si deseas que la transacción quede aprobada, <span class="highlight-txt2">REJECTED</span> si deseas que quede rechazada o <span class="highlight-txt2">PENDING</span> si deseas que quede pendiente:<br/>
<span class="highlight-txt2">Java</span>: parameters.put(PayU.PARAMETERS.PAYER_NAME, "APPROVED");<br/>
<span class="highlight-txt2">PHP</span>:  PayUParameters::PAYER_NAME => "APPROVED"
</li>
<li class="bullet-box">En el <b>número de la tarjeta</b> debes ingresar un número de tarjeta válido y que corresponda a la franquicia enviada en la petición.</li>
</ol>

<div class="squelch-taas-tab-group squelch-taas-override" data-title="" data-disabled="false" data-collapsible="false" data-active="0" data-event="click">
<ul>
<li class="squelch-taas-tab"><a href="#squelch-taas-tab-content-1">SDK Java</a></li>
<li class="squelch-taas-tab"><a href="#squelch-taas-tab-content-2">SDK PHP</a></li>
</ul>
<div id="squelch-taas-tab-content-1">
<pre style="height:300px; overflow: auto;">
<b>PayU.isTest = true;</b>
String reference = "payment_test_00000001";
String value = "10000";

Map&lt;String, String&gt; parameters = new HashMap&lt;String, String&gt;();

//Ingrese aquí el identificador de la cuenta.
parameters.put(PayU.PARAMETERS.ACCOUNT_ID, "512321");
//Ingrese aquí el código de referencia.
parameters.put(PayU.PARAMETERS.REFERENCE_CODE, ""+reference);
//Ingrese aquí la descripción.
parameters.put(PayU.PARAMETERS.DESCRIPTION, "payment test");
//Ingrese aquí el idima de la orden.
parameters.put(PayU.PARAMETERS.LANGUAGE, "Language.es");

// -- Valores --
//Ingrese aquí el valor.
parameters.put(PayU.PARAMETERS.VALUE, ""+value);	
//Ingrese aquí la moneda.
parameters.put(PayU.PARAMETERS.CURRENCY, ""+Currency.COP.name());

// -- Comprador --
//Ingrese aquí el id del comprador.
parameters.put(PayU.PARAMETERS.BUYER_ID, "1");
//Ingrese aquí el nombre del comprador.
parameters.put(PayU.PARAMETERS.BUYER_NAME, "First name and second buyer name");
//Ingrese aquí el email del comprador.
parameters.put(PayU.PARAMETERS.BUYER_EMAIL, "buyer_test@test.com");
//Ingrese aquí el teléfono de contacto del comprador.
parameters.put(PayU.PARAMETERS.BUYER_CONTACT_PHONE, "7563126");	
//Ingrese aquí el documento de contacto del comprador.
parameters.put(PayU.PARAMETERS.BUYER_DNI, "5415668464654");	
//Ingrese aquí la dirección del comprador.
parameters.put(PayU.PARAMETERS.BUYER_STREET, "calle 100");
parameters.put(PayU.PARAMETERS.BUYER_STREET_2, "5555487");
parameters.put(PayU.PARAMETERS.BUYER_CITY, "Medellin");
parameters.put(PayU.PARAMETERS.BUYER_STATE, "Antioquia");
parameters.put(PayU.PARAMETERS.BUYER_COUNTRY, "CO");
parameters.put(PayU.PARAMETERS.BUYER_POSTAL_CODE, "000000");
parameters.put(PayU.PARAMETERS.BUYER_PHONE, "7563126");

// -- Pagador --
//Ingrese aquí el id del pagador.
parameters.put(PayU.PARAMETERS.PAYER_ID, "1");
//Ingrese aquí el nombre del pagador.
<b>parameters.put(PayU.PARAMETERS.PAYER_NAME, "APPROVED");</b>
//Ingrese aquí el email del pagador.
parameters.put(PayU.PARAMETERS.PAYER_EMAIL, "payer_test@test.com");
//Ingrese aquí el teléfono de contacto del pagador.
parameters.put(PayU.PARAMETERS.PAYER_CONTACT_PHONE, "7563126");	
//Ingrese aquí el documento de contacto del pagador.
parameters.put(PayU.PARAMETERS.PAYER_DNI, "5415668464654");	
//Ingrese aquí la dirección del pagador.
parameters.put(PayU.PARAMETERS.PAYER_STREET, "calle 93");
parameters.put(PayU.PARAMETERS.PAYER_STREET_2, "125544");
parameters.put(PayU.PARAMETERS.PAYER_CITY, "Bogota");
parameters.put(PayU.PARAMETERS.PAYER_STATE, "Bogota");
parameters.put(PayU.PARAMETERS.PAYER_COUNTRY, "CO");
parameters.put(PayU.PARAMETERS.PAYER_POSTAL_CODE, "000000");
parameters.put(PayU.PARAMETERS.PAYER_PHONE, "7563126");

// -- Datos de la tarjeta de crédito -- 
//Ingrese aquí el número de la tarjeta de crédito
parameters.put(PayU.PARAMETERS.CREDIT_CARD_NUMBER, "4097440000000004");
//Ingrese aquí la fecha de vencimiento de la tarjeta de crédito
parameters.put(PayU.PARAMETERS.CREDIT_CARD_EXPIRATION_DATE, "2014/12");
//Ingrese aquí el código de seguridad de la tarjeta de crédito
parameters.put(PayU.PARAMETERS.CREDIT_CARD_SECURITY_CODE, "321");
//Ingrese aquí el nombre de la tarjeta de crédito
parameters.put(PayU.PARAMETERS.PAYMENT_METHOD, "VISA");

//Ingrese aquí el número de cuotas.
parameters.put(PayU.PARAMETERS.INSTALLMENTS_NUMBER, "1");
//Ingrese aquí el nombre del pais.
parameters.put(PayU.PARAMETERS.COUNTRY, PaymentCountry.CO.name());

//Session id del device.
parameters.put(PayU.PARAMETERS.DEVICE_SESSION_ID, "vghs6tvkcle931686k1900o6e1");
//IP del pagadador
parameters.put(PayU.PARAMETERS.IP_ADDRESS, "127.0.0.1");
//Cookie de la sesión actual.
parameters.put(PayU.PARAMETERS.COOKIE, "pt1t38347bs6jc9ruv2ecpv7o2");
//Cookie de la sesión actual.
parameters.put(PayU.PARAMETERS.USER_AGENT, "Mozilla/5.0 (Windows NT 5.1; rv:18.0) Gecko/20100101 Firefox/18.0");

//Solicitud de autorización y captura
TransactionResponse response = PayUPayments.doAuthorizationAndCapture(parameters);

//Respuesta
if(response != null){
	response.getOrderId();
	response.getTransactionId();
	response.getState();
	if(response.getState().toString().equalsIgnoreCase("PENDING")){
		response.getPendingReason();	
	}
	response.getPaymentNetworkResponseCode();
	response.getPaymentNetworkResponseErrorMessage();
	response.getTrazabilityCode();
	response.getResponseCode();
	response.getResponseMessage();
}
</pre>
</div>
<div id="squelch-taas-tab-content-2">
<pre style="height:300px; overflow: auto;">
<b>PayU::$isTest = true;</b>
$reference = "payment_test_00000001";
$value = "10000";

//para realizar un pago con tarjeta de crédito---------------------------------
$parameters = array(
	//Ingrese aquí el identificador de la cuenta.
	PayUParameters::ACCOUNT_ID =&gt; "512321",
	//Ingrese aquí el código de referencia.
	PayUParameters::REFERENCE_CODE =&gt; $reference,
	//Ingrese aquí la descripción.
	PayUParameters::DESCRIPTION =&gt; "payment test",

	// -- Valores --
	//Ingrese aquí el valor.        
	PayUParameters::VALUE =&gt; $value,
	//Ingrese aquí la moneda.
	PayUParameters::CURRENCY =&gt; "COP",

	// -- Comprador 
	//Ingrese aquí el nombre del comprador.
	PayUParameters::BUYER_NAME =&gt; "First name and second buyer  name",
	//Ingrese aquí el email del comprador.
	PayUParameters::BUYER_EMAIL =&gt; "buyer_test@test.com",
	//Ingrese aquí el teléfono de contacto del comprador.
	PayUParameters::BUYER_CONTACT_PHONE =&gt; "7563126",
	//Ingrese aquí el documento de contacto del comprador.
	PayUParameters::BUYER_DNI =&gt; "5415668464654",
	//Ingrese aquí la dirección del comprador.
	PayUParameters::BUYER_STREET =&gt; "calle 100",
	PayUParameters::BUYER_STREET_2 =&gt; "5555487",
	PayUParameters::BUYER_CITY =&gt; "Medellin",
	PayUParameters::BUYER_STATE =&gt; "Antioquia",
	PayUParameters::BUYER_COUNTRY =&gt; "CO",
	PayUParameters::BUYER_POSTAL_CODE =&gt; "000000",
	PayUParameters::BUYER_PHONE =&gt; "7563126",

	// -- pagador --
	//Ingrese aquí el nombre del pagador.
	<b>PayUParameters::PAYER_NAME =&gt; "APPROVED",</b>
	//Ingrese aquí el email del pagador.
	PayUParameters::PAYER_EMAIL =&gt; "payer_test@test.com",
	//Ingrese aquí el teléfono de contacto del pagador.
	PayUParameters::PAYER_CONTACT_PHONE =&gt; "7563126",
	//Ingrese aquí el documento de contacto del pagador.
	PayUParameters::PAYER_DNI =&gt; "5415668464654",
	//Ingrese aquí la dirección del pagador.
	PayUParameters::PAYER_STREET =&gt; "calle 93",
	PayUParameters::PAYER_STREET_2 =&gt; "125544",
	PayUParameters::PAYER_CITY =&gt; "Bogota",
	PayUParameters::PAYER_STATE =&gt; "Bogota",
	PayUParameters::PAYER_COUNTRY =&gt; "CO",
	PayUParameters::PAYER_POSTAL_CODE =&gt; "000000",
	PayUParameters::PAYER_PHONE =&gt; "7563126",

	// -- Datos de la tarjeta de crédito -- 
	//Ingrese aquí el número de la tarjeta de crédito
	PayUParameters::CREDIT_CARD_NUMBER =&gt; "4097440000000004",
	//Ingrese aquí la fecha de vencimiento de la tarjeta de crédito
	PayUParameters::CREDIT_CARD_EXPIRATION_DATE =&gt; "2014/12",
	//Ingrese aquí el código de seguridad de la tarjeta de crédito
	PayUParameters::CREDIT_CARD_SECURITY_CODE=&gt; "321",
	//Ingrese aquí el nombre de la tarjeta de crédito
	//VISA||MASTERCARD||AMEX||DINERS
	PayUParameters::PAYMENT_METHOD =&gt; "VISA",

	//Ingrese aquí el número de cuotas.
	PayUParameters::INSTALLMENTS_NUMBER =&gt; "1",
	//Ingrese aquí el nombre del pais.
	PayUParameters::COUNTRY =&gt; PayUCountries::CO,

	//Session id del device.
	PayUParameters::DEVICE_SESSION_ID =&gt; "vghs6tvkcle931686k1900o6e1",
	//IP del pagadador
	PayUParameters::IP_ADDRESS =&gt; "127.0.0.1",
	//Cookie de la sesión actual.
	PayUParameters::PAYER_COOKIE=&gt;"pt1t38347bs6jc9ruv2ecpv7o2",
	//Cookie de la sesión actual.        
	PayUParameters::USER_AGENT=&gt;"Mozilla/5.0 (Windows NT 5.1; rv:18.0) Gecko/20100101 Firefox/18.0"
);
	
//solicitud de autorización y captura
$response = PayUPayments::doAuthorizationAndCapture($parameters);

//  -- podrás obtener las propiedades de la respuesta --
if($response){
	$response-&gt;transactionResponse-&gt;orderId;
	$response-&gt;transactionResponse-&gt;transactionId;
	$response-&gt;transactionResponse-&gt;state;
	if($response-&gt;transactionResponse-&gt;state=="PENDING"){
		$response-&gt;transactionResponse-&gt;pendingReason;	
	}
	$response-&gt;transactionResponse-&gt;paymentNetworkResponseCode;
	$response-&gt;transactionResponse-&gt;paymentNetworkResponseErrorMessage;
	$response-&gt;transactionResponse-&gt;trazabilityCode;
	$response-&gt;transactionResponse-&gt;responseCode;
	$response-&gt;transactionResponse-&gt;responseMessage;   	
}
</pre>
</div>
</div>
</div>
<div id="paso-a-produccion" class="payu-fragment">

&nbsp;<br>
<span class="subtitle-page">Paso a producción</span>
&nbsp;<br>

<span class="grey-text-13">Luego de que realices todas las pruebas del sistema y verifiques que todo está funcionando correctamente, se puede realizar el cambio al servidor de producción; en donde se procesaran las transacciones reales.</span>

<span class="grey-text-13">Para esto deberás desmarcar la opción Transacción en modo de pruebas que encontrarás en tu módulo administrativo.</span>

<p align="center"><img src="/images/api-pruebas-1.jpg" border="0"></p>

<span class="grey-text-13">Adicionalmente debes generar los formularios de pago con los siguientes parámetros correspondientes a tu cuenta:</span>

<pre>
merchantId: de tu cuenta
ApiKey: de tu cuenta
ApiLogin: de tu cuenta
accountId: de tu cuenta
test: false
</pre>

<span class="grey-text-13">Apuntando a las URLs de producción:</span>
<div id="blue-box">
<span class="grey-text-13"><b>Java</b>&nbsp;<br>
PayU.paymentsUrl = "https://api.payulatam.com/payments-api/";&nbsp;<br>
PayU.reportsUrl = "https://api.payulatam.com/reports-api/";&nbsp;<br>

<b>PHP</b>&nbsp;<br>
Environment::setPaymentsCustomUrl("https://api.payulatam.com/payments-api/4.0/service.cgi");&nbsp;<br>
Environment::setReportsCustomUrl("https://api.payulatam.com/reports-api/4.0/service.cgi");&nbsp;<br>
Environment::setSubscriptionsCustomUrl("https://api.payulatam.com/payments-api/rest/v4.3/");&nbsp;<br>
</span>
</div>

</div>

</div>

</div>
</div>
</div>