<div id="page-menu-column1">
<div class="sidemenu-title">Administrative module
</div>

<div class="lateral-menu intro {% if page.subcategory == "intro" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/en/administrative_module/'">Introduction</div>
<div class="lateral-menu check {% if page.subcategory == "activation" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/en/administrative_module/account_activation.html'">Account activation</div>
<div class="lateral-menu money {% if page.subcategory == "balance" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/en/administrative_module/balance.html'">Checking balance</div>
<div class="lateral-menu transfer {% if page.subcategory == "transfers" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/en/administrative_module/transfers.html'">Transfers</div>
<div class="lateral-menu stats {% if page.subcategory == "reports" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/en/administrative_module/reports.html'">Reports</div>
<div class="lateral-menu refund {% if page.subcategory == "refunds" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/en/administrative_module/refunds.html'">Refunds</div>
<div class="lateral-menu dispute {% if page.subcategory == "disputes" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/en/administrative_module/disputes.html'">Disputas</div>
<div class="lateral-menu data {% if page.subcategory == "update" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/en/administrative_module/data_update.html'">Update my data</div>
<div class="lateral-menu gear {% if page.subcategory == "config" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/en/administrative_module/configuration.html'">Integration settings</div>
</div>