<div id="page-menu-column1">
<div class="sidemenu-title">SDK Integration Manual</div>

<div class="lateral-menu pagos {% if page.subcategory == "payments" %}{{ "active-lateral-menu" }} {% endif %}"     onclick="location.href='{{ site.baseurl }}/en/sdk/payments.html'">Payments</div>
<div class="lateral-menu consultas {% if page.subcategory == "queries" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/en/sdk/queries.html'">Queries</div>
<div class="lateral-menu tokenizacion {% if page.subcategory == "tokenization" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/en/sdk/tokenization.html'">Tokenization</div>
<div class="lateral-menu recurring {% if page.subcategory == "recurring" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/en/sdk/recurring_payments.html'">Recurring payments</div>
<div class="lateral-menu cancel {% if page.subcategory == "refunds" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/en/sdk/refunds.html'">Refunds</div>
<div class="lateral-menu pruebas {% if page.subcategory == "sandbox" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/en/sdk/sandbox.html'">Test with SDK</div>
</div>