<div id="page-menu-column1">
<div class="sidemenu-title">Integração Web Checkout</div>

<div class="lateral-menu pagos {% if page.subcategory == "payments" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/pt/web_checkout/integration.html'">Integração</div>
<div class="lateral-menu pruebas {% if page.subcategory == "sandbox" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/pt/web_checkout/sandbox.html'">Testes (Sandbox)</div>
<div class="lateral-menu country {% if page.subcategory == "considerations" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/pt/web_checkout/considerations.html'">Considerações por país</div>
<div class="lateral-menu tablas {% if page.subcategory == "tables" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/pt/web_checkout/variables.html'">Tabelas de variáveis</div>
</div>