<div id="page-menu-column1">
<div class="sidemenu-title">Webcheckout Integration</div>

<div class="lateral-menu pagos {% if page.subcategory == "payments" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/en/web_checkout/integration.html'">Integration</div>
<div class="lateral-menu pruebas {% if page.subcategory == "sandbox" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/en/web_checkout/sandbox.html'">Tests (Sandbox)</div>
<div class="lateral-menu country {% if page.subcategory == "considerations" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/en/web_checkout/considerations.html'">Considerations by country</div>
<div class="lateral-menu tablas {% if page.subcategory == "tables" %}{{ "active-lateral-menu" }} {% endif %}" onclick="location.href='{{ site.baseurl }}/en/web_checkout/variables.html'">Tables of variables</div>
</div>