::marker {
    color: #A6C307;
    font-weight: bold;
 }

 img[alt=SellIcons] {
    height: 100px;
}

img[alt=Concepts] {
    max-width: 80% !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#signature_apikey_confirmation_page {
    width: 27% !important;
}